[2020-08-31 10:22] zwqnju opened #1 "How much can your code speed up SECOND?"
SECOND uses [spconv](https://github.com/traveller59/spconv) to do sparse conv. How much can your code speed up SECOND? I did not find this information in your paper.

Your paper mentioned that you reimplement SECOND. Will this repo be available? If I want to reimplement SECOND using your 3d conv API, will it be easy? How can I do this?

Does this repo have similar interface like spconv.utils.Voxel

[2020-08-31 11:59] kentangSJTU commented on #1
Hi,

Thanks for your interest in our paper. We haven't compare our implementation with latest **spconv**, which you are welcomed to have a try. However, I do remember that in our previous experiments on 3D segmentation, our implementation using **spconv** didn't reproduce results of MinkowskiNet. We therefore turn to optimize **MinkowskiEngine**.

The re-implementation of SECOND will be made avail

[2020-08-31 12:03] zwqnju commented on #1
Thanks a lot! Very useful!

[2020-08-31 12:03] #1 closed

[2020-09-02 08:18] zxczrx123 opened #2 "Distributed Training!"
Thanks for your nice work!
How to use SyncBatchNorm when distirbuted training and could you give some guide about MultiGPU training?

[2020-09-02 09:44] kentangSJTU commented on #2
Hello,

Thanks for your interest in our work! We don't use SyncBatchNorm when training our models with multiple GPUs. On Multi-GPU training, we'll be releasing official code very soon after we finalizing some details in training.

If you want to try it out now, please refer to our [e3d/spvnas](https://github.com/mit-han-lab/e3d/tree/master/spvnas) codebase for details. You may convert `evaluate.py

[2020-09-08 08:11] zxczrx123 commented on #2
Thank you very much for your help, I have been able to train properly. By the way,approximately when will you post your training details? I'm looking forward to it.

[2020-09-09 13:36] kentangSJTU commented on #2
Hi,

Training details of baseline models have been released under our [spvnas](https://github.com/mit-han-lab/e3d/tree/master/spvnas) repository. Please have a look, thanks!

Best,
Haotian

[2020-09-16 05:55] #2 closed

[2020-10-01 15:13] CCInc opened #4 "TorchSparse vs Minkowski Benchmarking"
Hi,

You mentioned

We were curious if you were able to provide the benchmarking code, which networks were used, or some latency values.

Thanks!

[2020-10-10 12:31] YaraAlnaggar opened #5 "Supporting PointTensor in sparse_collate_fn"
Hello
Is there a reason for not supporting PointTensor object types as SparseTensor in sparse_collate_fn. By support I mean adding the batch index to for each point coordinate same as SparseTensor.

Thanks.

[2020-10-11 00:38] kentangSJTU commented on #5
Hello,

Thanks for your interest! We currently support batched PointTensor by converting them from SparseTensor. Here is an [example](https://github.com/mit-han-lab/e3d/blob/0d7d0179d8512fb13d9651dddfb74334218c69b4/spvnas/core/models/semantic_kitti/spvcnn.py#L192). We always want to take advantage of the `sparse_quantize` function to denoise the data first so first building the SparseTensor might

[2020-10-11 16:15] YaraAlnaggar commented on #5
Thanks for the clarification and for sharing your work.

[2020-10-11 16:15] #5 closed

[2020-10-13 16:39] JiamingSuen opened #6 "Having trouble on calculating gradient of the network output w.r.t. input"
Hello Haotian, thanks for this amazing library!

I'm currently working on a project with a need to calculate the gradient of the network output with respect to the network input explicitly. However, `torch.autograd` failed to do so and complaining `mm(): functions with out=... arguments don't support automatic differentiation, but one of the arguments requires grad.` I can't find anywhere in the l

[2020-10-14 15:00] nicolas-chaulet opened #7 "Trouble with running on CPU"
Hi,
Awesome library! I am in the process of adding it to [Torch Points3d](https://github.com/nicolas-chaulet/torch-points3d) but I am having troubles getting to run on CPU. For example running the example you provide by forcing the model to be on CPU gives the following:
[code]
All works great on gpu, any idea what might be wrong?

[2020-10-15 00:22] zhijian-liu commented on #7
Thank you so much for your interest in our library and also your efforts to integrate our library into Torch Point3D. Currently, the CPU version still has some bugs, and we are working actively on that. We will keep you informed once that is fixed. Thanks!

[2020-10-15 05:00] tovacinni opened #8 "Issues with sphash"
Hi,

Thanks for the great paper and library.

I was testing this library out today and had some issues using `sphash`.

I first generate a set of random coordinates on a 32x32x32 grid, using:

`occupied = torch.floor(torch.rand(1000) * 32 * 32 * 32).int()`

Then, I generate a set of random points to do intersection tests against the 'occupied' cells:

`queries = torch.floor(torch.rand(100) * 32 *

[2020-10-15 08:08] nicolas-chaulet commented on #7
Ha! I did not realise, thanks for the info. We will integrate it to Torch Points3d as a drop in replacement for sparse convolutions but will keep Minkowski as our main backend for now. (Until torch sparse catches up!)
By the way, after some benchmarking I can definitely confirm that it is faster than Minkowski 0.5. Great work!

[2020-10-15 08:14] tovacinni commented on #8
Figured out the issue... the hash function expects a 4D coord, not a 3D coord.

[2020-10-15 08:14] #8 closed

[2020-10-16 04:23] kentangSJTU commented on #6
Hi Jiaming,

Thanks for the question and sorry for the delayed response. I was preparing for an exam in the past two days. Regarding the error message from PyTorch, our library did use the `torch::mm` with `out` tensor specified [here](https://github.com/mit-han-lab/torchsparse/blob/f029da05ca7ef484783355f6e54507ad88b39a37/torchsparse/src/convolution/convolution.cpp#L72). I think this might partia

[2020-10-19 10:34] dapeng2017 opened #9 "How to calculate the parameters and MAGs with the torchsparse lib?"
I want to count the MAGs when running spvnas then i try the thop lib but it doesn’t work for torchsparse...So, can you tell me how to calculate them?

[2020-10-20 03:03] kentangSJTU commented on #9
Hello,

The MACs for 3D sparse convolution layers are calculated as **kernel_map_size * in_channels * out_channels**, so you may want to use the `custom_op` argument in thop to make it work.

P.S.: In our paper we actually pre-calculated the average kernel map sizes of our model on the SemanticKITTI dataset and directly do the \#MACs computation without using thop.

Best,
Haotian

[2020-10-21 10:25] nicolas-chaulet commented on #7
No worries! It is actually integrated now, and we allow swapping weights between `Minkowski` and `torchsparse` which solves this issue for now because `Minkowski` supports CPU. So one can train using `torchsparse` and deploy a `Minkowski` model with those weights.

[2020-10-27 14:30] JiamingSuen commented on #6
Thanks for your reply!
I found that acquiring gradients with `autograd.grad` (instead of `loss.backward()`) requires `torch.mm` without `out=... arguments`. I attempted to change all `torch::mm_out()` calls in the C++ implementation to `torch::mm()` but the output of the network changed for some unknown reason. Since I've figured out another method to calculate the gradient without autograd, I wil

[2020-10-27 14:30] #6 closed

[2020-11-03 03:44] feifeiwei opened #10 "ubuntu 2020 error"
when i run ' pip install --upgrade git+https://github.com/mit-han-lab/torchsparse.git'
i got  error.

[code]

wish your help please

[2020-11-06 14:07] kentangSJTU commented on #10
Hello,

Sorry for the delayed response, since I'm involved in other projects recently. I cannot directly determine the problem from this error log, but would you mind checking whether your CUDA versions used to install PyTorch and torchsparse are the same? B.t.w., we have tested CUDA 10.2 + PyTorch 1.6 for our library, which you might want to have a try.

Best,
Haotian

[2020-11-18 15:57] SUZhaoyu opened #11 "Memory efficiency issue about the kernel map"
Hi, I am curious about the implementations of the kernel map. Say we have 8192 valid convolution kernels, and the number of occupied voxels in each kernel is 8, then the total size of input in the kernel map is `8192*8*C_in`, and the corresponding kernel is `8192*8*C_in*C_out`. When `C_in=32` and `C_out=64`, the total memory expense is 512MB for the current input instance, and when it comes to the

[2020-11-19 00:35] kentangSJTU commented on #11
Hello,

Thanks for the interest!

First, the total size of input in the kernel map if `8192*8*C_in`, but we actually observe that the memory space can be reused to store these inputs, and the memory requirement will go down to `8192*C_in` for input storage (since the sub kernel map corresponding to offset 0, 0, 0 is the largest).

Second, we don't have specialized kernel for each input point. If y

[2020-11-20 06:10] SUZhaoyu commented on #11
Thanks for the reply @kentangSJTU , if I've got this right, you actually store the kernel map with pointers or indexes instead of using the raw data matrix right? If this is the case, how did you perform the GEMM for convolution efficiently? Or you implemented your own matrix multiply in the gpu kernels?

Regards,
Tony

[2020-11-23 14:44] kentangSJTU commented on #11
Hi @SUZhaoyu,

Sorry for the delayed response. Yes, your understanding is correct, we store the kernel map with indices instead of the raw data. As for the GEMM efficiency, we have customized implementation where input point with the same kernel offset are grouped together first, then we call `torch::mm_out` backend, and finally scattered the output to corresponding locations as indicated by the k

[2020-11-24 03:55] SUZhaoyu commented on #11
Thanks @kentangSJTU , understood. Appreciate a lot.

[2020-11-28 02:42] Huhaowen0130 opened #12 "How to install torchsparse in Windows10?"

[2020-12-01 09:28] sandeepnmenon opened #13 "fatal error: cublas_v2.h"
Trying to install torchparse using the command
`pip install --upgrade git+https://github.com/mit-han-lab/torchsparse.git
`
Getting the following error
[code]

My torch installation is working fine. I verified if it is using the gpu and if it is cuda .
[code]

Environment details
Python 3.6.9
Torch 1.7.0+cu101
Cuda 10.1
GPU Tesla K80

[2020-12-01 11:40] sandeepnmenon commented on #13
I updated my cuda to 10.2 and updated torch to the corresponding version and it is installing now.

[2020-12-01 11:40] #13 closed

[2020-12-02 13:46] jialeli1 opened #14 "Is the torchsparse.nn.Conv3d equivalent to the sparse 3D Conv or the submanifold sparse 3D Conv?"
Hi, is the torchsparse.nn.Conv3d equivalent to the sparse 3D Conv or the submanifold sparse 3D Conv?

[2020-12-03 01:27] jialeli1 opened #15 "Are there any suggestions for installing Google's sparse hash map project, if I am not a root user."
Are there any suggestions for installing Google's sparse hash map project, if I am not a root user.
When I was trying to compile and install it locally, I still encountered permission issues. Can you give me some suggestions?

make[1]: Entering directory '/home/lijiale/envs_openpcdet2/sparsehash'
make[2]: Entering directory '/home/lijiale/envs_openpcdet2/sparsehash'
test -z "/usr/local/lib" || /bi

[2020-12-03 02:20] zhijian-liu commented on #15
Hi, you can install it into a local lib (e.g., ~/.local/lib) following https://stackoverflow.com/questions/3239343/make-install-but-not-to-default-directories.

[2020-12-03 03:00] jialeli1 commented on #15
Thanks for your kind suggestions.  I successfully installed sparsehash and torchsparse.

[2020-12-03 03:00] #15 closed

[2020-12-03 03:34] kentangSJTU commented on #14
Hi,

It depends on the stride. Stride=1 version is the submanifold convolution and stride=2 version should be the sparse convolution version.

Best,
Haotian

[2020-12-03 03:36] kentangSJTU commented on #12
Hi,

I haven't tried the installation on Windows 10. If you encounter any problem when installing torchsparse on Windows10 please reply me in this issue and I will try to figure out the solution.

Best,
Haotian

[2020-12-16 07:51] CCInc commented on #4
Nicolas did some testing in the torchpoints3d library and found:

- minkowski 0.4.3: 9 minutes and 10GB of RAM
- minkowski 0.5: 6 minutes and 10GB of RAM
- TorchSparse: 4 minutes and 8GB of RAM

At any rate, a great deal of improvement! Thanks for your work :)

[2020-12-16 07:51] #4 closed

[2020-12-31 06:15] cslxiao opened #16 "conv3d with empty kernel_map"
Applying convolution transpose with conv3d sometimes returns an error due to the empty of kernel_map.
The reason is that [sparseconv_op](https://github.com/mit-han-lab/torchsparse/blob/master/torchsparse/nn/functional/sparseconv.py#L212) is called without checking kernel_map is empty or not.

[2021-01-02 12:02] tchaton opened #17 "Does torchsparse supports 16-bit training ?"
Dear All,

I am currently adding Pytorch Lightning support to TorchPoints3d.

If TorchSparse was to support 16-bit and be scriptable, we could have a pretty decent speed up and people would have strong reason to use torchsparse for production.

Here is the PR: https://github.com/nicolas-chaulet/torch-points3d/pull/528

Also, here are updates from our previous release. We support ME and torchsparse

[2021-01-03 02:57] HilbertXu opened #18 "It seem there is some problem while using torchsparse with nn.DataParallel"
Hi all,

Thanks for your amazing torchsparse library!

I am currently deploy a large model for 3D object detection, and my GPU(RTX Titan) does not have enough memory to train my model, so i want to use nn.DataParallel to distribute my model on two RTX Titan. However, part of my model uses torchsparse and it returns erro like this:

Since this is the first time I use nn.DataParallel in my project,

[2021-01-03 16:58] zhijian-liu commented on #18
It might be a little bit hard (and actually less efficient) to use `nn.DataParallel` due to the format of `SparseTensor`. Instead, it's preferred to use `nn.DistributedDataParallel` (see https://github.com/mit-han-lab/e3d/tree/master/spvnas for more details).

[2021-01-03 17:00] zhijian-liu commented on #14
I'm closing this issue due to the inactivity. Please feel free to reopen it if the problem has not been resolved.

[2021-01-03 17:00] #14 closed

[2021-01-03 17:01] zhijian-liu commented on #10
I'm closing this issue due to the inactivity. Please feel free to reopen it if the problem has not been resolved.

[2021-01-03 17:01] #10 closed

[2021-01-03 17:01] zhijian-liu commented on #9
I'm closing this issue due to the inactivity. Please feel free to reopen it if the problem has not been resolved.

[2021-01-03 17:01] #9 closed

[2021-01-03 17:01] zhijian-liu commented on #12
I'm closing this issue due to the inactivity. Please feel free to reopen it if the problem has not been resolved.

[2021-01-03 17:01] #12 closed

[2021-01-03 17:01] zhijian-liu commented on #11
I'm closing this issue due to the inactivity. Please feel free to reopen it if the problem has not been resolved.

[2021-01-03 17:01] #11 closed

[2021-01-03 17:05] zhijian-liu commented on #17
Thanks for the great work! The current version does not support FP16, but we are actively working on incorporating FP16 into the library. We will let you know once we have some results.

[2021-01-07 13:54] weizmanl opened #19 "Installation in Windows 10"
Hi,

I have Windows 10 and I have been trying to install torchsparse, but no success.

When I run pip things compile, but linkage fails. It says:
       Creating library C:\Users\WeizmanL\AppData\Local\Temp\pip-req-build-6qzmrtnx\build\temp.win-amd64-3.8\Release\torchsparse/src\torchsparse_cuda.cp38-win_amd64.lib and object C:\Users\WeizmanL\AppData\Local\Temp\pip-req-build-6qzmrtnx\build\temp.win

[2021-01-08 08:45] weizmanl commented on #12
I have Windows 10 and I have been trying to install torchsparse, but no success.

When I run pip things compile, but linkage fails. It says:
Creating library C:\Users\WeizmanL\AppData\Local\Temp\pip-req-build-6qzmrtnx\build\temp.win-amd64-3.8\Release\torchsparse/src\torchsparse_cuda.cp38-win_amd64.lib and object C:\Users\WeizmanL\AppData\Local\Temp\pip-req-build-6qzmrtnx\build\temp.win-amd64-3.8\R

[2021-01-08 08:57] weizmanl opened #20 "MaxPooling"
Torch's maxpooling inputs a kernel. Looks like torchsparse maxpooling performs on the entire dimension. It that correct? Is there any way to use torchsparse's maxpooling with a kernel?

[2021-01-08 12:54] Huhaowen0130 commented on #12
Well, I have tried some solutions about the installation and failed, perhaps it's better to install on linux.

[2021-01-10 05:54] HilbertXu commented on #18
Hi Liu,

Thanks for your reply, I will try to use the nn.DistributedDataParallel in my project.

Have a nice day!

[2021-01-10 16:38] #18 closed

[2021-01-15 21:44] JohnRomanelis opened #22 "Problem with torchsparse.nn.functional spvoxelize"
Hey!
First of all thank you for your amazing work!

I am trying to install torchsparse to use it for a 3d object detection network.
I am using pytorch 1.7 with cuda 11.0 and i have cuda 11.1 installed separately.
(I use cuda 11.1 because i am using a 3090 and lower versions of cuda are not supported).
I am also using ubuntu 20.04 and i have downgraded the gcc compiler to version 7.5.

My problem i

[2021-01-18 02:16] cslxiao opened #23 "Conv3d with kernel_size=1 and stride=2 doesn't subsample the input tensor"
I found that Conv3d with kernel_size=1 and stride=2 doesn't subsample the input tensor. However, kernel_size=2 and stride=2 do subsample the input tensor.

[2021-01-19 13:37] chaytonmin opened #24 "How can I convert the SparseTensor to deseTensor?"
Is there an function for 'to_desne' in torchsprse?

[2021-01-29 06:27] xiaoaoran opened #37 "About torchsparse library"
Do you have a document for the library?  How to use other functions such as maxpooling an so on?

Thank you.

[2021-02-04 19:11] sandeepnmenon opened #26 "How to provide asymmetrical kernels in torchsparse.nn.Conv3d"
On checking the code for the Conv3d feature
https://github.com/mit-han-lab/torchsparse/blob/cc3d5b15070ba88e912ebd65dfa21b01a826ec98/torchsparse/nn/modules/conv.py#L17
I see that the kernel size is an integer.
Is it possible to give asymmetric kernels. eg of shape=3×1×3, 1×3×3 etc
From latest [literature](https://arxiv.org/pdf/2008.01550.pdf), I see that

Also, it has some other properties that I

[2021-02-05 23:46] danjia21 opened #27 "Matching downsampled voxels with sphashquery"
Thanks for the great work! I have a question with matching downsampled points. Assuming there are two SparseTensors `x0` and `x1` which shares the same voxel coordinate (i.e. `x0.C = x1.C`). Now `x0` is passed through a subsampling layer
[code]
The downsampled `x0` will have less points than `x1` (i.e. `x0.C.shape[0] < x1.C.shape[0])`. My question is how to find the matching points of `x0` in `x1`

[2021-02-08 11:27] sandeepnmenon commented on #26
I would like to contribute the addition of asymmetric kernels.

[2021-02-08 15:14] danjia21 commented on #27
I have solved this problem using `SparseTensor.kernel_maps` (ref. https://github.com/mit-han-lab/torchsparse/blob/master/torchsparse/nn/functional/sparseconv.py#L65 )

[2021-02-08 15:14] #27 closed

[2021-02-08 18:47] zhijian-liu commented on #26
Thank you! That would be great. Feel free to add me as a reviewer after you have the PR.

[2021-02-11 14:24] sandeepnmenon commented on #26
Raised PR #28
@zhijian-liu Please review

[2021-02-14 03:14] dfhe2004 commented on #19
replace long with int64_t.

[2021-02-15 15:18] #26 closed

[2021-02-18 19:40] Timingan opened #36 "RuntimeError @"return hash_gpu(idx)" in torchsparse/nn/functional/hash.py"
Hi,

Thanks for the impressive work. When I try to run the following command on my Pascal machine, I am getting an error.
**Command:**
`torchpack dist-run -np 1 python evaluate.py configs/semantic_kitti/default.yaml --name SemanticKITTI_val_SPVNAS@65GMACs`

**Error:**
[code]

When I installed the torchsparse package, I also got the same error as mit-han-lab/e3d#23. I run the following codes as sho

[2021-02-26 11:16] sinAshish commented on #22
I am also facing this same issue

[2021-02-26 11:19] sinAshish opened #30 "build error while installing torchsparse on linux"
I am trying to install torchsparse on linux.
Cuda: 10.2
GPU : Titan Xp.

Any fix to resolve this issue?

[2021-02-26 15:31] zhijian-liu commented on #30
Could you share the entire error message with us? Thanks!

[2021-02-26 15:35] zhijian-liu commented on #24
There isn't natively and we indeed are planning to support this. One quick way of having this is to use `torch.sparse.FloatTensor` to do the conversion: see https://github.com/mit-han-lab/torchsparse/blob/master/torchsparse/nn/modules/conv.py#L183-L194.

[2021-02-26 15:38] zhijian-liu commented on #22
@JohnRomanelis and @sinAshish, could you please provide a sample code to reproduce your issue? Thanks!

[2021-02-26 17:07] JohnRomanelis commented on #22
Hello @zhijian-liu

I used the _initial_voxelize_ function provided at the e3d/spvnas/core/models/utils.py (https://github.com/mit-han-lab/e3d/blob/master/spvnas/core/models/utils.py). I create a random pointcloud, turn it to a torchsparse.PointTensor and pass it through the aforementioned function.

Here is a code sample:
`
import torch
from torchsparse import PointTensor, SparseTensor
import tor

[2021-02-26 17:23] sinAshish commented on #30
This is error I get while installing torchsparse
[code]

[2021-02-26 17:25] sinAshish commented on #30
I tried the previous code of yours from PVCNN for voxelization, and there also I get the foll. error while building the cpp extensions:
[code]
This is a small part of the error.
I don't understand why this runs well on colab but not on Titan!

[2021-02-26 21:35] zhijian-liu commented on #30
These two errors are actually different:
1. I think you are using `pip install torchsparse`, but please instead follow the instruction at https://github.com/mit-han-lab/torchsparse#installation.
2. The error is because `CUDA_HOME` is not found, which is usually at `/usr/local/cuda/`. Can you double-check whether the header is there?

[2021-02-26 21:44] zhijian-liu commented on #22
@kentangSJTU, could you please take a look at this?

[2021-02-27 14:31] sinAshish commented on #30
thanks, its all ok now

[2021-02-27 14:31] #30 closed

[2021-02-28 06:39] sinAshish commented on #22
I do the foll. to create a voxel:
[code]
I get the foll. error:
[code]
How do I solve this?
I want to get a voxel of dim: #BxCxRxRxR, given that I have a PC of dim: BxNxC.
Any help would be appreciated!

[2021-03-02 20:03] Jiayuan-Gu commented on #22
@JohnRomanelis @sinAshish Can you try to use cuda tensor? I encountered the same issue when using CPU tensor. And I found that their spvoxelize only wraps VoxelizeGPU.

[2021-03-02 20:34] JohnRomanelis commented on #22
@Jiayuan-Gu Thank you! This seems to fix the problem. I thought that since it doesn't throw an error it wouldn't be a device problem.

[2021-03-02 21:05] zhijian-liu commented on #22
Thank you @Jiayuan-Gu !

[2021-03-02 21:05] #22 closed

[2021-03-03 10:49] sinAshish commented on #22
Thanks, @Jiayuan-Gu  that works now!
But I want to understand how is it performing 3D convs. I see that the shape is `(N,3)` after voxelization after performing 3D conv it becomes `(N,D)`. But if I want convert it into a cube with `(B,3,R,R,R)`, then what do I do (similar to what is done in PVCNN)? Any help would be appreciated?

[2021-03-03 17:31] zhijian-liu commented on #22
It's basically the `to_dense` operation (refer to my answer in https://github.com/mit-han-lab/pvcnn/issues/37).

[2021-03-06 03:25] RS-Coop opened #31 "torchsparse_cuda issue"
Hello, I am having the following issue with torchsparse which arises when torchsparse_cuda calls hash_forward():

[code]

I believe the root of the problem is due to the process of torchsparse installation. On my machine I do not have CUDA installed system-wide. Instead I use conda virtual environments and install cudatoolkit and cudnn as required. In the torchsparse setup.py it is checking for CU

[2021-03-07 15:56] zhijian-liu commented on #31
Could you check the device of your tensor: `tensor.device.type`? I guess it's `CUDA` right?

[2021-03-07 19:29] RS-Coop commented on #31
Yes that is correct.

[2021-03-07 22:44] abahnasy opened #32 "Installation Error"
Hi, I'm facing this error while installing, could you please advise

[code]

[2021-03-07 22:50] zhijian-liu commented on #31
I see. I think in this case, it would be better to use the CPU implementation (by `.cpu()`).

[2021-03-07 22:52] zhijian-liu commented on #32
It seems that `THC/THCBlas.h` is missing. It supposes to be installed along with PyTorch. Could you double-check that your PyTorch is correctly installed?

[2021-03-07 22:53] zhijian-liu commented on #24
I'm closing this issue due to inactivity. Please feel free to reopen it if the problem has not been resolved

[2021-03-07 22:53] #24 closed

[2021-03-07 22:53] zhijian-liu commented on #19
I'm closing this issue due to inactivity. Please feel free to reopen it if the problem has not been resolved.

[2021-03-07 22:53] #19 closed

[2021-03-07 22:57] abahnasy commented on #32
sounds weird... Pytorch is working fine
[code]

[2021-03-07 23:29] zhijian-liu commented on #32
I'm not sure whether it's related to openblas. Could you try `sudo apt-get install libopenblas-dev`?

[2021-03-08 00:47] abahnasy commented on #32
Still, same issue

[2021-03-08 01:09] zhijian-liu commented on #32
I think it might be related to PyTorch. What is the version of PyTorch you have installed?

[2021-03-08 01:11] abahnasy commented on #32
Latest one, 1.8

[2021-03-08 01:13] zhijian-liu commented on #32
I see. I guess it's related to https://github.com/pytorch/pytorch/pull/49725. We will add support for this in the future. For now, I guess you might need to downgrade the version to 1.6/1.7/

[2021-03-08 01:32] abahnasy commented on #32
I installed 1.6 and it is working now. Thank you

[2021-03-08 02:10] zhijian-liu commented on #20
That's correct. We don't have a plan to support this in the near future as modern NN usually uses convolution with strides to downsample the input. Feel free to have a PR on this.

[2021-03-08 02:10] #20 closed

[2021-03-08 02:11] zhijian-liu commented on #7
I think the CPU inference issue has been resolved for a while. Feel free to reopen the issue if there is any other issue.

[2021-03-08 02:11] #7 closed

[2021-03-08 06:19] #32 closed

[2021-03-08 06:20] zhijian-liu commented on #32
@abahnasy, can you have a try on the latest version? I just pushed a fix that can hopefully support 1.8.

[2021-03-08 22:22] RS-Coop commented on #31
Can I ask as to why? It seems that my setup is pretty common, or perhaps I am wrong and it is better to install CUDA system-wide? Or does it come down to torchsparse implementation details?

[2021-03-08 23:03] zhijian-liu commented on #31
I think I might misunderstand your case. If I understand correctly now, you have a CUDA installed locally but not system-wide. In this case, you might need to reinstall `torchsparse` with `FORCE_CUDA=1`.

[2021-03-08 23:29] zhijian-liu commented on #36
@sandeepnmenon, I saw you have encountered similar issues before. Would you be able to help @Timingan with the issue? Thanks!

[2021-03-08 23:30] zhijian-liu commented on #23
Thanks for reporting this. It's indeed a bug, and we are working on a fix for this. For now, I think we can stick to k2s2 if you want to downsample the input tensor.

[2021-03-08 23:35] zhijian-liu commented on #16
Thanks for pointing this out! I have created a PR for this issue.

[2021-03-09 07:21] zhijian-liu commented on #16
@cslxiao, could you please install the latest version to see whether the issue has been resolved.

[2021-03-09 07:59] sandeepnmenon commented on #31
Reinstalling torchsparse with
[code]
replace ${TORCH_CUDA_ARCH_LIST} with the GPU architecture of your machine.

I faced similar issue https://github.com/mit-han-lab/e3d/issues/23

[2021-03-09 10:34] chrise96 opened #39 "Version 1.1 not compatible with SPVNAS Semantic Segmentation"
It looks like version 1.1 is not compatible with SPVNAS. Starting at the line "model = model.determinize()" in `model_zoo.py` I get the following error:
`RuntimeError: running_mean should contain 1000 elements not 44`

You can use the following Python code to reproduce the error:

[code]

[2021-03-09 17:57] zhijian-liu commented on #39
Thanks for reporting the bug. I will take a look at this. At the same time, you can use an earlier version to run SPVNA.

[2021-03-09 23:58] RS-Coop commented on #31
@zhijian-liu Yes that is correct, I only have CUDA installed through an Anaconda virtual environment.

If I do the following before trying to install torchsparse:
[code]
I get an error saying CUDA_HOME is not set. Also note that without setting this variable torchsparse installs fine, things just break when I try to run something.

If I add the following:
[code]
I get even more errors related to C

[2021-03-10 00:16] zhijian-liu commented on #31
That's normal. Without setting `FORCE_CUDA`, the library will only install the CPU kernels as we cannot find `CUDA_HOME`. Could you double-check the location of your `CUDA_HOME`? I guess it might be in Anaconda.

[2021-03-10 08:27] poodarchu opened #40 "Does torchsparse support Multi-GPU training?"

[2021-03-10 09:19] sandeepnmenon commented on #40
Yes.
Check the training section of https://github.com/mit-han-lab/e3d
Eg
`torchpack dist-run -np [num_of_gpus] python train.py configs/semantic_kitti/spvcnn/cr0p5.yaml
`
You can refer the training script of the above repo (https://github.com/mit-han-lab/e3d/blob/master/spvnas/train.py) to see.
As per my understanding, the library supports the multi gpu support of pytorch using DistributedSampler a

[2021-03-10 10:10] poodarchu opened #41 "How to convert a SparseTensor to the dense version?"
Convert a sparse tensor to dense is very useful in 3d detection tasks. For example, spconv supports it by https://github.com/traveller59/second.pytorch/blob/master/second/pytorch/models/middle.py#L105. How to implement this in torchsparse?

[2021-03-10 15:53] zhijian-liu commented on #31
No worries at all. We would love to help you with this. From https://stackoverflow.com/questions/52298146/cuda-home-in-pytorch-installation, it seems that the CUDA installation in Anaconda is not a complete one, which might cause the issue. I guess an easier way is to install the full CUDA from NVIDIA: https://developer.nvidia.com/cuda-10.2-download-archive. It can be installed without root permis

[2021-03-10 15:58] zhijian-liu commented on #41
Converting the sparse tensor to dense BEV representation is actually supported: https://github.com/mit-han-lab/torchsparse/blob/master/torchsparse/nn/modules/conv.py#L183-L194. If you are looking for a general `to_dense` operation, you might need to implement it with `torch.sparse.FloatTensor` as @sandeepnmenon suggested.

[2021-03-10 23:00] RS-Coop commented on #31
I agree that doing the full CUDA install is easier, and I have root permission so that is not a problem. Mostly I was just looking for a way to fix things using my current workflow, but I realize that may not be possible/easy.

[2021-03-11 02:05] cslxiao commented on #16
@zhijian-liu, good jod! But I think the bug is still there.
in the code:
[code]
the error occurs at calling of **sparseconv_op** with **kernel_map** = None, because the kernel_maps of the input tensor doesn't necessarily contain the kernel_map required at the step when the network is not center-symmetric with regards to kernel_size, dilation setting.

[2021-03-11 04:56] zhijian-liu commented on #16
Hi @cslxiao, thanks for the information. Could you please provide me with a minimal example to reproduce this? Thanks!

[2021-03-11 06:36] MiZhenxing opened #42 "About the order of coordinates and features after convolution"
Hi, thank you for you excellent work. I have found in this [issue](https://github.com/mit-han-lab/torchsparse/issues/14) that Stride=1 version is the submanifold convolution. So in this case the output has the same shape as the input. My questions is whether the order of coordinates and features of the output have the same order as those in the input? If not, is there any way to convert the order

[2021-03-11 13:20] cslxiao commented on #16
Hi, @zhijian-liu
take the modified minkunet in repo [e3d](https://github.com/mit-han-lab/torchsparse) as an example,
[code]
symmetric dilation parameters like  _dilation: [1, 1, 1, 2, 2, 1, 1, 1]_ or  _dilation: [1, 2, 2, 2, 2, 2, 2, 1]_ is ok.
But asymmetric  dilation parameters will cause the aforementioned error,
such as  _dilation: [1, 1, 1, 1, 1, 1, 1, 2]_.

[2021-03-11 14:34] victoryc opened #43 "Comparison to SparseConvNet"
From the point of view of 3D semantic labeling and instance segmentation, how does this library compare to SparseConvNet? I understand this library is faster. But, are there any other pros/cons? Is there is implication on performance (i.e., measures such as IOU, mAP etc.)?
Thanks.

[2021-03-11 16:09] zhijian-liu commented on #43
This library aims to provide a faithful yet more efficient implementation for the sparse convolution, which is the core building block of many popular 3D neural networks (including SparseConvNet that you mention). It is supposed to provide the same performance as other libraries when provided with the same model architecture. If you are looking for higher performance, you can refer to our SPVNAS (

[2021-03-11 16:09] #43 closed

[2021-03-11 16:36] RS-Coop commented on #31
That seems to have fixed my problems (as expected). Thanks for all the help!

[2021-03-11 16:36] #31 closed

[2021-03-13 02:56] kentangSJTU commented on #42
Hello,

In general if stride = 1, the order will not be changed. Otherwise, the order can be changed because we actually sort points by hash values of coordinates instead of xyz values.

Best,
Haotian

[2021-03-14 14:11] zhijian-liu commented on #36
I'm closing this issue due to inactivity. Please feel free to reopen it if the problem has not been resolved.

[2021-03-14 14:11] #36 closed

[2021-03-15 04:07] MiZhenxing commented on #42
Thank you for your helpful comment!

[2021-03-15 04:08] #42 closed

[2021-03-15 17:01] zhijian-liu commented on #41
I'm closing this issue due to inactivity. Please feel free to reopen it if the problem has not been resolved.

[2021-03-15 17:01] #41 closed

[2021-03-17 14:41] ptzu opened #44 "RuntimeError: CUDA error: CUBLAS_STATUS_INTERNAL_ERROR when calling `cublasCreate(handle)`"
Hi, I followed the instructions in README
`torchpack dist-run -np 1 python evaluate.py configs/semantic_kitti/default.yaml --name SemanticKITTI_val_SPVNAS@65GMACs`
I wonder if there is any step I missed. There are some error messages:
[code]
I ran it on Anaconda environment, and my environment information is as follow:
[code]
Thank you!

[2021-03-18 20:14] zhijian-liu commented on #44
It's hard to tell the reason directly from the error message. Could you rerun the code with `CUDA_LAUNCH_BLOCKING=1  torchpack ...`?

[2021-03-19 08:24] ptzu commented on #44
`CUDA_LAUNCH_BLOCKING=1 torchpack dist-run -np 1 python evaluate.py configs/semantic_kitti/default.yaml --name SemanticKITTI_val_SPVNAS@65GMACs`
[code]

[2021-03-20 00:04] #23 closed

[2021-03-21 03:35] zhijian-liu commented on #44
I'm not sure whether it's related to the PyTorch version. Could you try to use 1.6.0?

[2021-03-21 03:36] zhijian-liu commented on #44
This seems related: https://discuss.pytorch.org/t/cuda-error-cublas-status-internal-error-when-calling-cublascreate-handle/114341.

[2021-03-21 03:38] zhijian-liu commented on #44
Could you also try whether the following code reproduces the error?
[code]
If so, you can downgrade the PyTorch version to 1.7.1 to see whether that resolves the issue.

[2021-03-24 13:47] songw-zju commented on #15
Hi, after make install, how do you set in your ~/.bashrc

[2021-03-28 04:53] zhijian-liu commented on #44
I'm closing this issue due to inactivity. Please feel free to reopen it if the problem has not been resolved.

[2021-03-28 04:53] #44 closed

[2021-03-31 13:48] victoryc opened #51 "GroupNorm"
Seems like GroupNorm isn't currently available in the library. Would it be easy to add one? Any guidance on implementing it would be helpful.

[2021-03-31 16:29] zhijian-liu commented on #51
You could refer to https://github.com/mit-han-lab/torchsparse/blob/master/torchsparse/nn/modules/norm.py and add a `GroupNorm` module there.

[2021-03-31 16:29] zhijian-liu commented on #51
Feel free to submit a PR for this.

[2021-04-01 16:20] victoryc opened #52 "Exception in tensor Deepcopy"
I am getting an exception with the following callstack. Any idea what may be the reason? I noticed that inputs.kernel_maps is empty.

Exception has occurred: KeyError
140070548366080
  File "/home/username/anaconda3/envs/myproj/lib/python3.8/copy.py", line 253, in _keep_alive
    memo[id(memo)].append(x)
  File "/home/username/anaconda3/envs/myproj/lib/python3.8/copy.py", line 177, in deepcopy

[2021-04-01 16:26] #51 closed, assigned to zhijian-liu

[2021-04-01 19:18] victoryc commented on #52
Seems like this was caused by passing passing (2,2,2) as a stride while the code such as the following assumes the stride to be an integer. Is passing a tuple for stride really invalid? Anyway, I am closing this for now since at least as of now, passing just the number 2 as stride suffices for me.
[code]

[2021-04-01 19:18] #52 closed

[2021-04-02 19:17] victoryc opened #53 "3D UNet with TorchSparse"
By chance, has anyone implemented 3D UNet with TorchSparse? If so, I would appreciate a link.

The specific issue I am currently pondering about is how to concatenate the features at a level with the up-sampled features from lower level. I looked to see whether there is a built-in function to do that. The functions I saw didn't seem to be right fits.

Things I saw:

- The add function in SparseTen

[2021-04-02 23:24] zhijian-liu commented on #53
I'm not sure what kind of U-Net you are looking for. SPVNAS is following a U-Net structure and has the concatenation between features.

[2021-04-02 23:37] victoryc commented on #53
Thanks! I just now went to that project. Seems like you may be referring to the code in the following file? I will take a look.
https://github.com/mit-han-lab/spvnas/blob/master/core/models/semantic_kitti/minkunet.py

[2021-04-02 23:51] zhijian-liu commented on #53
Exactly. Let me know if you need anything else.

[2021-04-02 23:51] #53 closed

[2021-04-04 01:02] victoryc opened #55 "ERROR: bucket overflow"
I occasionally get the following error for the code that normally works. Any idea what causes this error?

[code]

An observation that may or may not be relevant: I noticed that this error seems to occur when the number of coordinates in the sparse tensor is small. The same code ran fine without producing the above error when a bigger input with more coordinates was fed.

[2021-04-05 19:55] zhijian-liu commented on #55
Could you provide us with a sample code and data that can reproduce this error? Thanks!

[2021-04-05 20:43] victoryc commented on #55
As of now, my program is quite big (involving multiple files) and the error occurs only occasionally. So, I am not in a position to provide simple sample code to reproduce this as of now. Let me try investigating this and see whether I can narrow it down.

As of now, if anybody has any insights about what could potentially cause those errors, that can help my investigation.
Thanks.

[2021-04-08 01:33] victoryc commented on #55
I found out the limitation in the code that is causing this.
In query.cpp, the following line is used to compute the size of the table:
`int table_size =  2 * pow(2,ceil(log2((double)n)));`
In hashmap.cuh, the number of buckets is computed to be table_size/BUCKET_SIZE, where BUCKET_SIZE is 512.

When the hash values of the coordinates are very distributed there is no problem. Taking the table_size

[2021-04-08 16:51] victoryc commented on #55
For the benefit of others running into this, let me mention how I addressed it for now. There used to be the following line in query.cpp:
`int table_size = 2 * pow(2,ceil(log2((double)n)));`
I replaced it by:
[code]
This way, for larger n, when memory size consideration is more important, the table_size is getting computed to be the same as it used to be. For smaller n, when the effect of uneven d

[2021-04-08 17:25] zhijian-liu commented on #55
@victoryc, thank you so much for investigating this issue! I was discussing with @kentangSJTU this morning about the same solution. I will be happy to take a look after you submit the PR. We are also thinking about making this a knob to tune so that users can change that based on their needs. Take one step further, it might also be possible to dynamically adjust this if there is overflow.

[2021-04-08 18:05] #55 closed

[2021-04-09 13:39] FrancescoMandru opened #57 "Submanifold Sparse Convolution"
Hello, I wonder if torchsparse spnn.Conv3d is an implementation of the submanifold sparse convolution (https://arxiv.org/pdf/1706.01307.pdf) or just a sparse convolution. If so can you explain to me the principal difference? Thank you

[2021-04-09 14:28] FrancescoMandru opened #58 "Runtime error and CUDA version"
If I copy and paste your `example.py` I get the following error:

[code]

I'm running this in CPU mode inside my Docker container with the specifications provided, I have provided to you my Dockerfile in the attachment

[Dockerfile.zip](https://github.com/mit-han-lab/torchsparse/files/6286422/Dockerfile.zip)

Also, running the `performance.py` I get another error:

[code]

I have already changed t

[2021-04-10 14:20] FrancescoMandru commented on #7
I have similar issues and I opened a new one

[2021-04-11 08:08] zhijian-liu commented on #57
See https://github.com/mit-han-lab/torchsparse/issues/14.

[2021-04-11 08:08] #57 closed

[2021-04-11 08:10] zhijian-liu commented on #58
Just to clarify, are you using CPU or GPU for training? From the output log, it seems that the device is CPU. If so, we do not support training with CPU right now.

[2021-04-11 08:15] FrancescoMandru commented on #58
Hi @zhijian-liu  thanks for your reply, yes I was testing it with CPU, is it related with torchsparse modules right?

Anyway, I opened a google colab to test the other work you have done (SPVNAS) and I opened a related issue there.

[2021-04-15 03:59] zhijian-liu commented on #58
That's right. TorchSparse only supports the inference but not the training in CPU mode.

[2021-04-15 03:59] #58 closed

[2021-04-16 15:59] victoryc opened #59 "AttributeError: 'torchsparse_backend' has no attribute 'kernel_hash_forward'"
I built the  Docker image for training a network using torchsparse. When it starts, I get the following error. Any idea about the cause?

AttributeError: module 'torchsparse_backend' has no attribute 'kernel_hash_forward'

Thanks.

Callstack:
[code]

[2021-04-16 19:03] zhijian-liu commented on #59
Do you install the library with CUDA configured? It seems that the CUDA kernels are not compiled.

[2021-04-16 23:33] victoryc commented on #13
Just for the benefit of others who run into this.
I also ran into this error while using cuda 10.1. But, I really didn't need to update cuda to 10.2 to fix this. I searched for cublas_v2.h on my system and found it to be present at /usr/local/cuda-10.2/targets/x86_64-linux/include/ . Yes, that cuda-10.2 folder under usr/local was indeed there though the system indeed had only cuda-10.1, as verifie

[2021-04-16 23:43] zhijian-liu commented on #13
Thanks!

[2021-04-17 03:07] CurryYuan commented on #16
Same question here. Do you have the plan to support directly inverse conv3d?

[2021-04-24 08:06] HilbertXu opened #60 "Can torchsparse process batch-wise point cloud data?"
Hi,

Thanks for your useful torchsparse. I notices that in tutorials, torchsparse can only be used to process single scene data. If I want to process multiple scene point cloud data with shape [B, N, 4], what should I do? I can't find document about this.

Sincerely thanks for your reply!

Best regards,

Hilbert Xu

[2021-04-24 08:10] #60 closed

[2021-04-25 21:49] FrancescoMandru opened #61 "Add support for 2D convolution"
Is there any plan to add support for 2d convolutions?

[2021-04-26 19:21] zhijian-liu commented on #59
I'm closing this issue due to inactivity. Please feel free to reopen it if the problem has not been resolved.

[2021-04-26 19:21] #59 closed

[2021-04-26 19:24] zhijian-liu commented on #61
We do not have plans for supporting 2D sparse convolutions in the near future. A quick hack for this might be always setting z to 0 (which might be not optimal in terms of acceleration). I'm wondering what the use case is for using 2D sparse convolutions.

[2021-04-26 19:25] zhijian-liu commented on #16
I think what you need here is a generative sparse deconvolution. This is a bit different from what we have implemented now. We will investigate this in more details.

[2021-04-26 22:33] FrancescoMandru commented on #61
@zhijian-liu In cases where the image is very sparse and you want to optimize the network, for example the MNIST digits is sparse.

[2021-04-27 09:24] jackmsye opened #62 "datatype cast warning which may cause bugs"
@zhijian-liu
Hi, firstly thanks for your great work. I found some warnings which may cause bugs.

https://github.com/mit-han-lab/torchsparse/blob/master/torchsparse/src/others/query.cpp#L38 in this line, you cast a long pointer to a ulong pointer. This may cause some overflow when your value in lookup_vals function exceed the numeric maximum of long.

[2021-04-28 14:03] digital-idiot opened #64 "Voxelization with specified spatial extent"
`torchsparse/torchsparse/nn/functional/voxelize.py`

If I understood it correctly, the voxelization performed by the function `torchsparse/torchsparse/nn/functional/voxelize.py` is according to the extent of the provided point cloud (`tensor`). However extent derived from the point cloud may not represent the actual spatial extent due to sparsity of points. In that case how can these methods be ad

[2021-04-29 19:59] zhijian-liu commented on #62
@kentangSJTU, could you please take a look at this? Thanks!

[2021-04-30 08:47] YoushaaMurhij commented on #17
@zhijian-liu. Thanks for your amazing work! Any updates on FP16 support in the library? It would be much faster if we can use model.half() and inputs.half() like in Pytorch.

[2021-04-30 20:25] YoushaaMurhij opened #71 "Mixed precision or FP16 support!"
Great Work! Do you have a plan to add support for FP16 mode or conversion to TensorRT to improve the performance?
It will be great if we can convert the SparseTensor to a lower precision like Pytorch tensors.

[2021-05-01 18:37] victoryc opened #65 "Random seed, repeatability"
I am noticing that repeated runs of the same code with same data is producing somewhat different results. Is there something we need to do get repeatable pseudo-random behavior with TorchSparse?

I am calling the following at the beginning of my script to ensure repeatability as far as PyTorch is considered.

[code]

[2021-05-01 19:25] zhijian-liu commented on #65
Yes, it's because the FP atomic addition has nondeterministic behavior...

[2021-05-02 17:12] #65 closed

[2021-05-05 06:46] LeopoldACC opened #66 "If cuda version can not degrade to 10.2,how to reproduce your network?"
My machine's GPU is RTX3090,which is based on Ampere architecture and just support 11.0 as the oldest version of cuda.So is there any way to us CPU to reproduce your work?
The error log I tried to install on my machine is shown as below
[code]
Thks!

[2021-05-07 09:19] digital-idiot commented on #66
[Torchsparse](https://github.com/mit-han-lab/torchsparse/) compiles fine with CUDA `11.3` and Pytorch (GPU) `1.8.1`
[code]

---

It seems your `LD_LIBRARY_PATH` is not set properly. I can share compiled `wheel` if you want.

[2021-05-07 20:05] zhijian-liu commented on #66
Thank you @digital-idiot!

[2021-05-07 20:05] #66 closed

[2021-05-07 21:07] #64 closed

[2021-05-07 21:08] zhijian-liu commented on #61
Thanks for the clarification. I think you can try to mimic the 2D convolution with the 3D one. The overhead should not be very large.

[2021-05-08 12:18] Violetit commented on #66
Thank you @digital-idiot!
Could you please share the compiled wheel?

[2021-05-08 12:48] LeopoldACC commented on #66
Thank you @digital-idiot !,could you share compiled `wheel`?Thanks a lot!!

[2021-05-08 18:05] digital-idiot commented on #66
Here you go, compiled with Python 3.8, CUDA 11.1: [Wheel @ Google Drive](https://drive.google.com/file/d/1j2uD9toP67S2dEELpdKrcqKNv-yezZlU/view?usp=sharing)

You also need `sparsehash` to be installed.

[2021-05-12 15:19] digital-idiot commented on #66
@LeopoldACC I did not understand. Are you talking about compilation? The problem is clear from the error itself. The compiler could not find the header which is part of CUDA. That means either CUDA is not installed properly or the location of the header file is not added to the library path (collection of locations where the compiler looks for headers and libraries).

[2021-05-13 08:43] digital-idiot opened #67 "Documentation"
Some functionalities this library provides aren't always intuitive therefore some `docstrings` would be very helpful.

[2021-05-17 07:41] digital-idiot commented on #66
Copyright (c) 2005-2020 NVIDIA Corporation
Built on Tue_Sep_15_19:10:02_PDT_2020
Cuda compilation tools, release 11.1, V11.1.74
Build cuda_11.1.TC455_06.29069683_0

I think your `nvcc` version is dated. In my case
[code]
Also my driver version is `465.27` currently. Check the details using `nvidia-smi`.

[2021-05-17 07:44] LeopoldACC commented on #66
The version of your cuda is 11.1.58.So what I need to do is to downgrade my cude to 11.1.58?

[2021-05-17 08:30] digital-idiot commented on #66
What is your output of `nvidia-smi`?

[2021-05-17 08:53] LeopoldACC commented on #66
[code]

[2021-05-17 13:19] digital-idiot commented on #66
First, can you make a symlink of your `CUDA` installation directory (in my case it is `/opt/cuda`) to `/usr/local/CUDA` and try to compile `torchsparse`?

If the above did not work, update the `NVIDIA` driver to `465.27`. Then in your `conda` environment install `CUDA 11.1` to avoid messing with distro specific systemwide `CUDA` installation then check if the installed `torchsparse` works. Otherwi

[2021-05-17 17:00] zhijian-liu commented on #66
Thank you so much @digital-idiot!

[2021-05-17 17:05] zhijian-liu commented on #67
Thanks for your feedback! There are indeed very limited documentations for TorchSparse right now. We designed our API to be as close to PyTorch as possible. However, there is also a few backend APIs that is harder to understand. We will add more documentation in the future (but it will not in our top priority as our focus is more on efficiency). If you find anything in the library that is unclear,

[2021-05-17 19:18] digital-idiot commented on #67
Can you explain a bit about these methods (except maybe `conv3d`, this I kind of understood from the use cases in [torch-points3d](https://github.com/nicolas-chaulet/torch-points3d) and [spvnas](https://github.com/mit-han-lab/spvnas)): https://github.com/mit-han-lab/torchsparse/blob/a50506a904f336dfe8f96b3393f7e9ac2b8f1950/torchsparse/nn/modules/conv.py#L10

 I can guess the functionality from the

[2021-05-19 19:38] CCInc commented on #67
@digital-idiot `torchsparse.nn.modules.conv3d` is a normal sparse convolution. The parameters follow from a [dense pytorch convolution](https://pytorch.org/docs/stable/generated/torch.nn.Conv3d.html). The functional version takes the following inputs:

[code]

'ToBEVConvolution', 'ToBEVReduction', 'ToDenseBEVConvolution'  are just object detection helper functions as I understand (https://github.c

[2021-05-20 08:17] digital-idiot commented on #67
Thanks @CCInc. I understood `conv3d` and partly `ToDenseBEVConvolution`. What I don't understand so far are `ToBEVConvolution`, and `ToBEVReduction`. Below is my own implementation of converting voxelized `SparseTensor` to dense 5D tensor. If I understood it correctly, a voxel may contain numerous points, thus an aggregation function or pooling when doing this. I don't see that in any of the  `ToD

[2021-05-22 00:33] noahstier opened #68 "Exception on certain convolution configurations"
Related to https://github.com/mit-han-lab/torchsparse/issues/16

I think this is a bug. If not, a clearer error message might be helpful.

Both of these test cases raise the same exception:

[code]

backtrace:
[code]

[2021-05-22 01:14] LeopoldACC commented on #66
The first way is mean as shown below in `~/.bashrc`?
[code]

[2021-05-25 10:14] digital-idiot commented on #67
The previous implementation was incomplete, it did not consider the batch dimension. Below is the new one. @CCInc , @zhijian-liu can you have a quick look and let me know if the approach is somewhat correct?

[code]

[2021-05-26 16:56] CCInc commented on #67
If you've already voxelized the coords using one of the helper functions like `sparse_quantize`, it should remove the duplicates automatically. `SparseTensor` objects would usually contain unique coord ids. If your goal is just to create a dense representation from sparse coords, then one approach would be to create a `(H,W,D,C)` tensor and assign `C` based on the sparse `X,Y,Z` coords, i.e.

[cod

[2021-05-27 07:27] digital-idiot commented on #67
@CCInc thanks for clarifying. Yes, `sparse_quantize` is mentioned in the `README` of this repository. But the implementation of the voxelization funtions [initial_voxelize](https://github.com/mit-han-lab/spvnas/blob/f292399ca08fb7decc9e9b718c322000e3e807e3/core/models/utils.py#L15) and [point_to_voxel](https://github.com/mit-han-lab/spvnas/blob/f292399ca08fb7decc9e9b718c322000e3e807e3/core/models/

[2021-05-28 07:26] LeopoldACC commented on #66
Hi @digital-idiot
I solved it by the second way to reinstall NVIDIA-driver 465,Thanks a lot for your help!!!If possible,can I connect with you to learn how to compile by myself and solve such problem(paid is ok if you need)?

[2021-05-28 21:13] ezgicakirofficial opened #70 "Gradients of outputs w.r.t inputs during eval"
Hello,
I am new on torchsparse library and point cloud data.
I would like to get gradients of outputs with respect to inputs. Normally, in pytorch, we should be able to get it by torch.autograd.grad(..) function [https://pytorch.org/docs/stable/autograd.html#torch.autograd.grad] but this does not work for SparseTensor. I try to pass input.F as inputs parameter of this function, it did not work. It

[2021-05-29 03:12] zhijian-liu commented on #70
You probably need to first set `inputs.F.requires_grad` to `True`. I usually get the gradient of input by accessing `inputs.F.grad` after doing `loss.backward()`.

[2021-05-29 03:26] zhijian-liu commented on #67
Sorry for the late reply! These functions deal with the duplicate coordinates using the default behavior of `torch.cuda.float.SparseTensor`, which can be seen from https://pytorch.org/docs/stable/sparse.html:
[code]

[2021-05-29 03:35] zhijian-liu commented on #67
@CCInc, thank you so much for following up on this.

@digital-idiot, your `voxel_to_grid` implementation looks correct to me.

[2021-05-29 03:37] #61 closed

[2021-05-29 14:39] kentangSJTU commented on #62
Hi @jackmsye,

Thanks for the question and sorry for the delayed response. Here we assume the values will not exceed the numeric maximum of long (see https://github.com/mit-han-lab/torchsparse/blob/a50506a904f336dfe8f96b3393f7e9ac2b8f1950/torchsparse/src/hash/hash_gpu.cu#L16 for the generation of hash values, where we actually just keep 60 bits). I remember the reason why I use such cast is that I

[2021-05-29 18:35] ezgicakirofficial commented on #70
I did what you have described. Here is the code in summary:
`
model.eval()
outputs = model(inputs)
inputs.F.requires_grad = True
loss = outputs.sum()
loss.backward()
print(inputs.F.grad)
`

And it print None.. Is it wrong?
I tried this as well and the result is the same:

`
model.eval()
outputs = model(inputs)
inputs.F.requires_grad = True
loss = criterion(outputs, targets)
optimizer.zero_grad()
l

[2021-05-30 09:04] ezgicakirofficial commented on #6
Hİ @JiamingSuen ,
What is your another method without autograd? Could you share it with me?
Thanks.

[2021-05-31 03:11] zhijian-liu commented on #70
Could you please try that in the training mode to see whether it's the reason?

[2021-05-31 03:12] zhijian-liu commented on #70
Btw, you need to put `inputs.F.requires_grad = True` to be before the model inference.

[2021-05-31 08:53] ezgicakirofficial commented on #70
Aah, yes, I figured it out after many trials. :) Thank you for your help!

[2021-05-31 08:53] #70 closed

[2021-06-02 14:10] #17 closed

[2021-06-02 14:10] #71 closed

[2021-06-03 00:38] CCInc opened #72 "CUDA Half Compilation Error"
On some environments, I'm getting the following error from `pip install git+https://github.com/mit-han-lab/torchsparse.git`:

Failing on the following env:

But compiles fine on:

@zhijian-liu could you let me know the environment you were able to compile on?

[2021-06-03 00:46] zhijian-liu commented on #72
The environment I was using is as follows:
[code]

Thanks for investigating this issue!

[2021-06-03 00:51] JBKnights opened #73 "CUDA Compliation error: "error: no instance of overloaded function "atomicAdd" matches the argument list""
Hi,

When compiling torchsparse 1.3 I ran into the following compile error:

              argument types are: (__half *, c10::Half)

In an environment running torch=1.8.1, cuda=10.2, gcc=7.3.0.  However, I'm still able to compile torchsparse 10.2 perfectly well - do you have any idea what could be causing this?

[2021-06-03 12:19] f-sky opened #74 "Compilation error"
Hi, when I try to compile torchsparse, it reports error as follows.
[code]

Here are some outputs.
[code]

[2021-06-03 15:43] CCInc commented on #72
It looks like this is an issue with CUDA architecture. I can reproduce it by setting `TORCH_CUDA_ARCH_LIST="6.0"` but it works fine with `TORCH_CUDA_ARCH_LIST="6.0"`, I think older architectures don't support the half precision atomicAdd (similar to double). I'll try to find an implementation

[2021-06-03 15:56] jackmsye commented on #62
@kentangSJTU great, thx for your explanation.

[2021-06-03 16:39] CCInc commented on #74
Hi! I submitted a PR to fix the issue. @f-sky please try it out and let me know if it works for you. Thanks!

[2021-06-03 16:39] CCInc commented on #73
Hi! I submitted a PR to fix the issue. @JBKnights please try it out and let me know if it works for you. Thanks!

[2021-06-03 16:49] #72 closed

[2021-06-03 16:49] #73 closed

[2021-06-03 16:49] #74 closed

[2021-06-11 15:42] #62 closed

[2021-06-11 15:43] #67 closed

[2021-06-13 12:25] ezgicakirofficial opened #78 "Installation Problem"
Hello,
I try to install torchsparse to a server.
I write this command:
`> pip3 install --upgrade git+https://github.com/mit-han-lab/torchsparse.git 1>/dev/null`

At the end of veeery long error message, this is written:
`error: command '/usr/bin/nvcc' failed with exit status 1`

gcc version is 7.4.0, nvcc version is 9.1, CUDA version is 10.2.
How can I solve the problem? Thanks in advance.

[2021-06-13 18:07] kentangSJTU commented on #78
It looks like the nvcc version does not match with the CUDA version. I believe we have to fix this before moving on.

[2021-06-14 02:39] eric-qian-d opened #79 "Invalid Device Function in Example"
I'm running into the following issue when I run `example.py`

<img width="1586" alt="Screen Shot 2021-06-13 at 9 23 07 PM" src="https://user-images.githubusercontent.com/30250617/121832254-467e3d00-cc8f-11eb-82f6-b3d0bcd5cb1f.png">

I believe the hardware and software should all be compatible

<img width="1084" alt="Screen Shot 2021-06-13 at 9 35 53 PM" src="https://user-images.githubusercontent.c

[2021-06-14 03:20] kentangSJTU commented on #79
Hi Eric,

I actually tried torchsparse on GTX1080Ti which also has `compute_61` and `sm_61` and did not run into this error. Would you mind cloning this repo and run
[code]
again to check whether the error still exists? Thanks!

Best,
Haotian

[2021-06-14 04:03] eric-qian-d commented on #79
Hi Haotian,

Thank you for the quick response! I ran the command and I am still getting the same error with the new installation. I tried running `example.py` on a machine with RTX2080Ti which showed the same error.

<img width="1677" alt="Screen Shot 2021-06-13 at 10 56 30 PM" src="https://user-images.githubusercontent.com/30250617/121837262-c362e400-cc9a-11eb-9b3d-0ca4aba9d389.png">

Best,
Eric

[2021-06-14 10:14] ezgicakirofficial commented on #78
Hi,
I thought the same first. After I read this answer (https://stackoverflow.com/a/53504578/10614701) on stackoverflow, I thought maybe it is not necessary. Yet, I guess for this project, versions should match. Thanks for answer.

[2021-06-14 12:31] kentangSJTU commented on #79
Hi Eric,

Thanks for the information. RTX2080Ti can also run torchsparse, so I guess this is still a problem related to CUDA version.

I also searched for this error in other repos, and I found a typical response from detectron2 [here](https://github.com/facebookresearch/detectron2/issues/62#issuecomment-542447753). I'm not sure whether you installed conda with
[code]

You may check that by runnin

[2021-06-14 12:33] kentangSJTU commented on #78
You're welcome. Feel free to comment again if fixing the version cannot solve your problem.

[2021-06-14 13:53] CCInc commented on #79
It might be related to pytorch 1.6. I've only tested on 1.7 and 1.8+. Can you try in a new environment with one of those versions?

[2021-06-14 15:30] kentangSJTU commented on #79
Thanks @CCInc for the comment. I actually tried PyTorch 1.6 on GTX1080Ti and did not encounter similar bugs, but I'm not sure whether it is the same case for TitanXp.

[2021-06-14 17:10] eric-qian-d commented on #79
My previous installation looks like

[code]

If I do a fresh install, my installation (python-3.8.10, pytorch-1.8.1) looks like

[code]

With the new installation, setting up `torchsparse` actually fails with

[code]

A similar issue was posed also in detectron2 saying that this nvcc doesn't match cuda10.2: https://github.com/facebookresearch/detectron2/issues/2909

When I run `nvcc --version`, I

[2021-06-14 17:28] CCInc commented on #79
It's definitely strange. Is it possible you have multiple versions of nvcc installed? Please try:

`/usr/local/cuda/bin/nvcc --version`

and let me know if the output is the same.  It might be pulling a different version of nvcc than the one that's on your path.

[2021-06-14 18:29] eric-qian-d commented on #79
That turned out to be the issue! After exporting the correct `LD_LIBRARY_PATH` and `CUDA_HOME`, everything now works. Thank you both for your help!

[2021-06-14 21:42] CCInc commented on #79
Great! Glad to hear it!

[2021-06-14 21:42] #79 closed

[2021-06-15 04:30] jokester-zzz commented on #68
Hi, I encountered the same error as @noahstier, and I solved the problem by reshaping `neighbor_map`. I add `neighbor_map = neighbor_map.reshape(neighbor_map.shape[0], -1)` in `convert_neighbor_map.py` and it seems to work.

[2021-06-16 08:04] Nekomiya-fubuki opened #80 "AttributeError"
Hello,I want to ask a question.I install torchsparse for a code.When I run the code,an erro occurred here.Could you tell me how can I sovle it?

Traceback (most recent call last):
File "demo.py", line 76, in
outputs, loss_dict = model(sample, save_scene)
File "/home/u/anaconda3/envs/neucon/lib/python3.7/site-packages/torch/nn/modules/module.py", line 722, in _call_impl
result = self.forward(*input

[2021-06-19 17:10] ezgicakirofficial commented on #78
Hello,
The problem has solved after nvcc and cudo toolkit versions are same.
Thanks again.

[2021-06-19 17:10] #78 closed

[2021-06-22 05:01] saeedhd96 opened #82 "sphash consistency"
Hi,

I am trying to use sphash method to produce some hashes, but the hashes seem to be just a fucntion of memory location of the coordinates and not the coordinate values. As a result, same coordinate values produce different hashes when using sphash, since their memory location is not the same.

example:

[code]

results in:

[code]

Coordinate [1,2,3] produces threee different hashes in the cod

[2021-06-22 16:28] humanpose1 opened #83 "Example does not work"
there is a bug in torchsparse when I execute the following command:
[code]

I get the following error
[code]

[2021-06-22 18:30] CCInc commented on #83
Hi @humanpose1 , I'm not getting this error on torch 1.6 and 1.7. Can you share more about your environment and whether you're using cpu or gpu? (`torch.cuda.is_available()`)

[2021-06-23 01:37] saeedhd96 commented on #82
Also, different runs of `sphashquery` produces different results?

[code]

output:

[code]

[2021-06-23 02:05] kentangSJTU commented on #82
Hello,

I think the problem is that `sphash` takes in `Nx4` input rather than `Nx3` input. Would you mind fixing that and having another try? Thanks!

Best,
Haotian

[2021-06-23 11:59] humanpose1 commented on #83
I have torch version of 1.8.1+cu102. The problem comes from `torchsparse` . I think it is because I installed the new version of torchsparse. Now The problem with `make_tuple` is solved., the example code works but the function `downsample` is not working.

[2021-06-23 12:04] humanpose1 commented on #83
In this [line](https://github.com/mit-han-lab/torchsparse/blob/ab1faa0218314c814d26e38bd8baa858aa0ecce2/torchsparse/nn/functional/downsample.py#L64)Why  do you perform :
[code]
?
The coordinates cannot be negative ?

[2021-06-23 15:18] zhouzilong2020 commented on #32
Hi, I faced the exact same problem while installing... Could you please reopen this issue?
Here are my version info:
python 3.7.9
pytorch  1.6.0
cuda 10.2
Here are the error message:

 ERROR: Command errored out with exit status 1:
   command: /opt/conda/bin/python -u -c 'import sys, setuptools, tokenize; sys.argv[0] = '"'"'/tmp/pip-install-me5r5mfl/torchsparse_5f3064fc4ccf4350925250d93bf3dd09/set

[2021-06-23 15:33] zhouzilong2020 commented on #32
Hi, I meet the exact same problem even after this update with pytorch 1.6.0 ......
Could you please reopen this issue?
Here are my version info, and I have installed libopenblas-dev successfully.
python 3.7.9
pytorch 1.6.0
cuda 10.2
Here are the error message:
 ERROR: Command errored out with exit status 1:
[code]

[2021-06-23 15:40] CCInc commented on #32
Is your CUDA_HOME and LD_LIBRARY_PATH set as per cuda toolkit installation instructions?

[2021-06-25 00:04] #82 closed

[2021-06-25 01:05] zhijian-liu commented on #83
This is fixed in the latest release. Thanks!

[2021-06-25 01:05] #83 closed

[2021-06-25 04:40] zhijian-liu commented on #80
Could you please try the latest release version? Thanks!

[2021-06-28 06:30] dyy0205 opened #87 "installation problem, g++ error"
hi, how can i fix this installation error?
<img width="1861" alt="截屏2021-06-28下午2 20 41" src="https://user-images.githubusercontent.com/49671641/123590279-05546400-d81d-11eb-80dd-f5c5e1ab4f27.png">

my torch and cuda version as follows:
<img width="1097" alt="截屏2021-06-28下午2 29 29" src="https://user-images.githubusercontent.com/49671641/123590459-4187c480-d81d-11eb-8ea8-0884a5d9720a.png">

and i h

[2021-06-28 06:33] dyy0205 commented on #87
g++ (GCC) 5.4.0

[2021-06-28 15:02] CCInc commented on #87
Did you see the error message posted in your log?

[2021-06-28 16:18] dyy0205 commented on #87
thanks for your reply!it seems not compile successfully, how can i solve this problem?

[2021-06-29 16:22] radiradev opened #88 "Utility functions for transforming DenseTensors into SparseTensors and vice-versa"
Hello,

Are there functions to transform data (or/and data batches) from dense format into sparse format, and from sparse format into dense format?

Minkowski Engine has similar functionality: https://nvidia.github.io/MinkowskiEngine/utils.html

Regards

[2021-06-29 22:40] zhijian-liu commented on #87
It's because your default C++ compiler is `c++` rather than `g++`. You need to set the environment variable `CXX` correctly.

[2021-06-29 22:40] #80 closed

[2021-06-30 21:19] LeonardoCBoar commented on #80
Hi!
I'm also with this problem using version 1.2.0. But when i update to version 1.4.0, this error appears:
"No module named 'torch sparse.point tensor'"

Is there any solution?

[2021-06-30 21:21] zhijian-liu commented on #80
You need to change `from torchsparse.point_tensor import PointTensor` to `from torchsparse import PointTensor`.

[2021-06-30 21:43] LeonardoCBoar commented on #80
Thank you!
That worked.
Now i found this one:
[code]

[2021-06-30 21:43] zhijian-liu commented on #80
See https://github.com/mit-han-lab/torchsparse/releases/tag/v1.4.0 for these API changes.

[2021-06-30 21:45] LeonardoCBoar commented on #80
Thanks! I'll take a look at there

[2021-07-01 03:47] LordLiang opened #90 "The importance of removing duplicates"
If I just voxelize x, y, z coordinates but not remove duplicates, what will happen?
I find that when duplicates are not removed, the network also works. I am confused with this. Will the result be wrong?
Can you tell me about some details?

[2021-07-01 21:02] noahstier commented on #16
I am still having this issue with v1.4.0

[code]

`RuntimeError: CUDA error: invalid configuration argument`

[2021-07-02 22:00] #87 closed

[2021-07-02 22:03] zhijian-liu commented on #90
I don't understand the motivation behind keeping duplicates as they are referring to the same voxel grid. If you do not remove duplicates, the same convolution kernel might be applied to the same voxel grid multiple times, which might not lead to a lower performance but is not theoretically correct.

[2021-07-02 22:05] zhijian-liu commented on #88
We don't have utility functions for these. You might use `torch.coo_tensor` for sparse-to-dense conversion. As for dense-to-sparse conversion, you can first create a meshgrid for the dense vector and then construct `SparseTensor`.

[2021-07-03 01:19] zhijian-liu commented on #68
Could you try the latest version to see whether the error is still there? Thanks!

[2021-07-06 12:23] dyy0205 opened #91 "AttributeError: module 'torchsparse.backend' has no attribute 'hash_cuda'"
hi, how can i solve this problem? expect for your reply！
<img width="1087" alt="截屏2021-07-06下午8 16 47" src="https://user-images.githubusercontent.com/49671641/124598744-8653d100-de97-11eb-885d-e4671616f06d.png">

<img width="497" alt="截屏2021-07-06下午8 22 19" src="https://user-images.githubusercontent.com/49671641/124599186-f3fffd00-de97-11eb-83b4-37880b30127b.png">

[2021-07-07 05:35] HeCraneChen commented on #91
Got same error. How did you fix this?

[2021-07-07 05:41] HeCraneChen opened #92 "AttributeError: module 'torchsparse.backend' has no attribute 'hash_cuda'"
Thanks for providing this package. I successfully installed version 1.4.0, having no import error. But got this attribute error here.

 File "/miniconda/envs/neocon/lib/python3.7/site-packages/torchsparse/nn/functional/hash.py", line 19, in sphash
    return torchsparse.backend.hash_cuda(coords)
AttributeError: module 'torchsparse.backend' has no attribute 'hash_cuda'

I think it's because in torc

[2021-07-07 07:47] toyato commented on #92
When I tried to reproduce the neuralrecon code, I ran into the same problem as you. Maybe you did the same thing. Now I want to use the old version of torchsparse, but when I reinstall it, "**Failed building wheel for torchsparse**" appears. not solved

[2021-07-07 08:51] toyato commented on #32
I have the same problem as you, have you solved it？

[2021-07-07 16:40] saru-d2 commented on #92
were you able to fix either(wheel fails and hash_cuda)? I am facing the same issues.. Thanks

[2021-07-07 16:55] HeCraneChen commented on #92
Thanks for replying. I just tried what you suggest, it didn't work for me.

I tried the same example as issue #91 , it works for CPU, but doesn't work for cuda.

tensor([ 947292487600181830, 1034896566251630459,  856155222822155970])

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
AttributeError: module 'torchsparse.nn.functional' has no attribute 'sphsh'

[2021-07-07 16:58] HeCraneChen commented on #92
Same, trying to figure this out because of Neural Recon, still not solved yet. To make it clearer when testing this bug, I did what #91 did, and the attribute error is always there. If the following command doesn't work, similar lines in Neural Recon couldn't work.

import torch
import torchsparse.nn.functional as F
input = torch.randn(3,4).int().cuda()
F.sphsh(input)

[2021-07-08 03:23] toyato commented on #92
not yet, sad

[2021-07-08 03:27] toyato commented on #92
I ran this code and I had the same error as you
`AttributeError: module 'torchsparse.nn.functional' has no attribute 'sphsh'`

[2021-07-08 15:04] CCInc commented on #92
Please post the log from the commands I posted above and I can help you more.

[2021-07-08 17:35] CCInc opened #93 "Conda Build"
@zhijian-liu @kentangSJTU How would you feel about me adding a conda build? I think it would cut down on some build issues and make it easier for people.

[2021-07-08 18:23] HeCraneChen opened #94 "Name change between versions? Unable to "from torchsparse.utils.kernel_region import *""
Hello, I'm still trying to use your package 1.4.0 when running Neural Recon. But it seems like you have moved some functions between versions. Now I'm unable to use "from torchsparse.utils.kernel_region import *" any more. There's a function named KernelRegion I need in particular. Could you please let me know how to call this function in the most recent version of TorchSparse? Thanks

[2021-07-08 19:19] CCInc commented on #94
Hi,

KernelRegion is deprecated in 1.4.0. You should find similar functionality in `from torchsparse.nn.utils import get_kernel_offsets`. In fact, it looks like the latest version of NeuralRecon has been updated to support torchsparse 1.4. Otherwise, I would suggest using a previous version of this library.

[2021-07-08 19:24] HeCraneChen commented on #94
Thanks! It works now, it's my fault not updating NeuralRecon in time.

[2021-07-08 21:48] zhijian-liu commented on #93
Sounds great! Actually, I found a conda package for TorchSparse before: https://anaconda.org/conda-forge/torchsparse. It would be great if you could take a look at it to see whether it works or not. Thanks!

[2021-07-08 21:49] #94 closed

[2021-07-08 21:49] #90 closed

[2021-07-08 21:58] HeCraneChen commented on #92
So sorry about this. I typed a typo there. It should be F.sphash(input). And that worked for me now, on CUDA10.2.

[2021-07-08 22:16] CCInc commented on #93
That's interesting, here's where it came from: https://github.com/conda-forge/staged-recipes/pull/15095

It looks like it's CPU only builds at the moment. I will reach out to the maintainer and see if we can update it to GPU. A bunch of other libraries (torch-points-kernels, pytorch-sparse/scatter/cluster) just got support for conda build as well across multiple CUDA/torch versions, but those are

[2021-07-08 22:23] CCInc commented on #92
Great, if anyone else has issues with neuralrecon please try upgrading to the latest version of neuralrecon or installing a previous version of torchsparse.

[2021-07-08 22:23] #92 closed

[2021-07-09 02:31] toyato commented on #92
What did you change? My question is still there and I also use cuda10.2. There was no answer in  #91 .Please tell me, Thank you.
`>>> import torch

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/home/tyt/miniconda3/envs/neucon/lib/python3.7/site-packages/torchsparse/nn/functional/hash.py", line 19, in sphash
    return torchsparse.backend.hash_cuda(coords)
Attrib

[2021-07-09 03:02] toyato commented on #92
Thanks for the suggestion, I tried to use the new version of neuralrecon but the problem persists, when I uninstall torchsparse and try to reinstall it the following error appears in any version
`pip install --no-cache-dir git+https://github.com.cnpmjs.org/mit-han-lab/torchsparse.git@v1.4.0
Collecting git+https://github.com.cnpmjs.org/mit-han-lab/torchsparse.git@v1.4.0
  Cloning https://github.com

[2021-07-09 03:33] toyato commented on #92
Thanks for the suggestion, I tried to use the new version of neuralrecon but the problem persists, when I uninstall torchsparse and try to reinstall it the following error appears in any version
[code]

[2021-07-09 03:34] HeCraneChen commented on #92
I used another desktop computer. Installed everything from scratch manually. Now the training finally works. I think it might have more to do with installing everything from scratch manually than using another desktop. Another thing is NeuralRecon github repo updated some lines related to TorchSparse package like 11 days ago. My previous code was downloaded more than two weeks ago. So I replaced t

[2021-07-09 03:34] toyato commented on #92
Thanks for the suggestion, I tried to use the new version of neuralrecon but the problem persists, when I uninstall torchsparse and try to reinstall it the following error appears in any version

[code]

[2021-07-09 03:39] toyato commented on #92
Thanks, maybe I should reinstall all of them too

[2021-07-09 18:58] zhijian-liu commented on #93
Thanks for taking the initiative!

[2021-07-09 18:58] #68 closed

[2021-07-11 10:33] HaFred commented on #66
Hi, I am curious do you mean how to build the torchsparse wheel particularly? How is it going now? Thank you.

[2021-07-12 04:26] toyato opened #95 "Installation error"
Sorry, but I have been trying to solve this problem for a long time. When I tried to install any version of torchsparse, I got the same following errors.I've tried creating a new conda environment, changing pytorch versions (1.6, 1.7, 1.8), changing CUDA versions (10.1, 10.2),creating a new wsl subsystem(I use wsl for development.Do you think that could be the reason for it?My cuda works fine).But

[2021-07-12 04:49] zhijian-liu commented on #95
The issue seems to be that `cuda_runtime_api.h` is missing. Could you double-check this in your CUDA folder (which is usually at `/usr/local/cuda/include`)?

[2021-07-12 06:49] toyato commented on #95
Thank you for your reply. I can find it in`"/usr/local/cuda-10.1/targets/x86_64-linux/include/cuda_runtime_api.h"`. Should I add its path to `.bashrc`?

[2021-07-12 10:04] toyato commented on #95
The error is a bit different when I use cuda10.2 on another computer, I think it's not the `cuda_runtime_api.h` causing the problem
[code]

[2021-07-12 17:53] zhijian-liu commented on #95
I think you need to set `CUDA_PATH`, `PATH` and `LD_LIBRARY_PATH` correctly.

[2021-07-13 02:18] toyato commented on #95
These are my settings in `.bashrc`, how should I fix them
[code]
But they seem to be working fine
[code]
[code]

[2021-07-14 06:41] robot-ai-machinelearning commented on #95
I met the same question. I have the same setting as mentioned above.  Should I add cuda_home into setup.py extension part?

[2021-07-15 13:24] louzq16 opened #97 "Questions for torchsparse.nn.BatchNorm module"
Thank for your great open-source torchsparse library!
I met some problems when using the torchsparse.nn.BatchNorm module.
As shown in the figure,  occasionally the feature shape of sparse tensor is [1,C] during training, which causing the ValueError of torch.nn.BatchNorm.
![issue_figure](https://user-images.githubusercontent.com/44044820/125794110-415f72c2-6c0d-4a78-866a-922473af71ba.png)

Now  I

[2021-07-15 17:42] CCInc commented on #97
Hi,

Our batchnorm is simply a wrapper around `torch.nn.BatchNorm1d`, so it is bound by the same constraints. Are you asking for training or inference? For inference you need to set `model.eval()` so that the batchnorm layer gets deactivated.

[2021-07-15 19:38] digital-idiot opened #98 "Segmentation fault on Conv3d"
Below is a demo code snippet resulting into `Segmentation fault`:

[code]

* **NOTE:** The following seemed incorrect as it leads to `RuntimeError: Expected all tensors to be on the same device, but found at least two devices, cuda:0 and cpu! (when checking arugment for argument mat2 in method wrapper_mm_out_out)`:
https://github.com/mit-han-lab/torchsparse/blob/038e6c22a177415da9bf3c907e26d3815f5

[2021-07-16 08:11] digital-idiot commented on #95
The convenient way of solving environment variable related issues regarding `cuda` is adding a shell script to `/etc/profile.d` with following template:

[code]
For example, my `/etc/profile.d/cuda.sh` looks like below:

[code]
This way everything is set up globally, i. e. `cuda` will be available for all user so need to tinker with user specific `bashrc`. It is also easy to simply remove `/etc/pr

[2021-07-16 17:49] CCInc commented on #98
Hi @digital-idiot ,

This is a result of `weight` being on the wrong device, not `nbsizes`. `weight` (aka kernel) is a parameter of the Conv3d model.

For `nn.modules` you still need to specify the correct device, which will change the device of its parameters. So, try this:

`c3 = spnn.Conv3d(2, 5, kernel_size=3).cuda()`

You can see we do the same thing here:

https://github.com/mit-han-lab/torc

[2021-07-17 07:57] digital-idiot commented on #98
Thanks. A silly mistake from my side.

[2021-07-17 07:57] #98 closed

[2021-07-17 15:06] toyato commented on #95
Thanks for the suggestion！but it doesn't seem to fix my error...
These are the ones I added:
[code]
[code]
I added these files, but the installation error is still there....

[2021-07-17 15:24] NoOneUST commented on #97
I met the same problem. It happens while training.

[2021-07-18 04:38] zhijian-liu commented on #97
As @CCInc mentioned, this is the expected behavior of batch normalization, which requires a batch size larger than 1 during training (in order to compute the batch mean and variance for normalization). You could try to use a larger batch size to resolve this issue.

[2021-07-20 18:35] zhijian-liu commented on #95
Please refer to https://github.com/mit-han-lab/torchsparse/blob/master/docs/FAQ.md to see whether the installation error is st ill there after these steps.

[2021-07-22 12:11] lkskstlr opened #99 "Specify output coordinates for sparse 3D convolution"
Thank you very much for open-sourcing this code, the performance seems promising in comparison to MinkowskiEngine.

The MinkowskiEngine offers the possibility to evaluate the 3D convolution for different coordinates than the ones used for the input (cf. https://nvidia.github.io/MinkowskiEngine/convolution.html#MinkowskiEngine.MinkowskiConvolution.forward). I couldn't find the equivalent for torchs

[2021-07-23 14:17] zhijian-liu commented on #99
It's not currently supported in TorchSparse. You should be able to support this by switching `coords` at https://github.com/mit-han-lab/torchsparse/blob/master/torchsparse/nn/functional/conv.py#L117 with the desired output coordinates.

[2021-07-26 03:01] NoOneUST opened #100 "Sparsity brings no speed up"
I generate a mask to replace 50% non-zero elements 0. Here `feat.shape=[N,C], view_std_mask.shape=[N]`
[code]
then I send it to a sparse convolution:
[code]
But I observe no speed up (performance is comparable). The original time is `3d_stage0: 0.04869642266471961, stage 1: 0.05006156846674906, stage2: 0.061345104577903924`, after sparsifying, the time is `3d_stage0: 0.05488752330864332, stage 1:

[2021-07-26 03:06] zhijian-liu commented on #100
This is the expected behavior. We will not skip the computation for zero features. You should only send in these points with non-zero features to skip the computation for zero features.

[2021-07-26 03:09] NoOneUST commented on #100
Now I understand. Thank you so much for your quick reply.

[2021-07-26 03:10] #100 closed

[2021-07-27 12:10] caiqi opened #101 "Why not constraining the max coordinates during downsampling?"
Thanks for the awesome repo! I found that with stride=2, the outputs coordinates may be larger than the input range. And I found that there is a comment here https://github.com/mit-han-lab/torchsparse/blob/master/torchsparse/nn/functional/downsample.py#L40. I just wonder why not adding the coordinates max constrain since it seems very straightforward?

[2021-07-28 16:14] CCInc commented on #97
If there's any update on this issue feel free to reopen.

[2021-07-28 16:14] #97 closed

[2021-07-28 16:14] CCInc commented on #95
If there's any update on this issue feel free to reopen.

[2021-07-28 16:14] #95 closed

[2021-07-29 14:07] lkskstlr commented on #99
Hi @zhijian-liu,

thanks for the hint! Will close the issue for now and keep my fingers crossed for official support.

Best
Lukas

[2021-07-29 14:07] #99 closed

[2021-07-30 18:36] Burningdust21 opened #102 "AttributeError: module 'torchsparse_cuda' has no attribute 'hash_forward'"
Hi,

I've been working on a project that needs  torchsparse v1.1.0, but ran into following error:

[code]

Cuda version is 10.1, I've already tried reinstall pytorch, sparse hash and torchsparse, but didn't solve anything. Any idea why this happened?

Thanks.

[2021-07-30 18:55] CCInc commented on #102
Hi, If you could uninstall torchsparse and reinstall with `pip install -v git+https://github.com/mit-han-lab/torchsparse.git`, then upload the output of that to gist.github.com, that will be very helpful!

[2021-07-30 19:44] zhijian-liu commented on #101
It's indeed very easy to support this. However, our internal detection codebase is sensitive to this constraint. We will fix this once we have figured this out. At the same time, you may clone our repo, add this constraint, and compile it (with `pip install .`) if this causes an issue in your application. Sorry for the inconvenience.

[2021-07-31 08:56] Burningdust21 commented on #102
Here is the out put of installation: https://gist.github.com/Burningdust21/60e87ffccbbc42db4c7f7f4377fef6ad

[2021-08-02 20:21] zhijian-liu commented on #102
Thanks for sending the log. I'm wondering if you could try to add `FORCE_CUDA=1` before the `pip install` command.

[2021-08-03 03:21] Nireil commented on #32
you may run
sudo apt-get install libsparsehash-dev
on your Ubuntu servers
reference to this link https://reposhub.com/python/deep-learning/mit-han-lab-torchsparse.html

[2021-08-06 08:07] Burningdust21 commented on #102
Thanks for you replay! It turns out my compile environment doesn't has a valid CUDA configuration. Everything works fine now.

[2021-08-06 19:35] #102 closed

[2021-08-06 19:35] #101 closed

[2021-08-12 13:27] owoshch commented on #71
Hi @zhijian-liu!
Thank you for your work!
Could you share your opinion on the porting SPVNAS models (or any other models that use torchspase) to TensortRT (fp16, int8 or any other scheme) in order to increase the running time?

[2021-08-13 21:12] zhijian-liu commented on #71
Porting TorchSparse models to TensorRT is very hard as the sparse convolution is not natively supported by TensorRT. However, we are actively working on our own FP16/INT8 inference support. Stay tuned!

[2021-08-16 17:44] noahstier commented on #68
I don't get this error any more with 1.4.0

[2021-08-17 10:01] PhoenVujih opened #106 "Some questions about the voxelization and convolution ops"
Hi, @zhijian-liu , I am considering using torchsparse to build my own model. Here I have some questions about the voxelization and convolution operations.

I notice that the `sparse_quantize` can be used to remove the duplicates. What does it mean by removing the duplicates? Duplicated points in the voxel and only one point for a single voxel?

The second question is about the dimensions of the in

[2021-08-17 16:05] CCInc commented on #106
As for the first point, you're correct that `sparse_quantize` removes duplicates, where duplicates means multiple points contained in the same voxel. `sparse_quantize` voxelizes the point cloud based on the grid and selects one point from each voxel using `np.unique`.

[2021-08-17 16:07] CCInc commented on #106
You may be interested in this thread regarding model deployment. https://github.com/mit-han-lab/torchsparse/issues/71#issuecomment-897639382

[2021-08-18 13:13] sandeepnmenon opened #107 "[BUG] AttributeError: 'SparseTensor' object has no attribute 'is_cuda' for SYNCBATCHNORM"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

I am running the SPVCNN model building using torchsparse. Using torchpack to run the model wrapped as the DistributedDataParallel. This works fine.
While experimenting with [SyncBatchNorm](https://pytorch.org/docs/stable/generated/torch.nn.SyncBatchNorm.html)
[code]

I get the following error

[2021-08-18 16:13] digital-idiot commented on #107
Is it reproducible in the latest version of `torchsparse`?

[2021-08-19 08:17] sandeepnmenon commented on #107
@digital-idiot
Yes I am able to reproduce it in the 1.4.0 version.

[2021-08-19 13:56] CCInc commented on #107
@sandeepnmenon Hi!

If you look at the definition of batch norm,  you can see that we use the `fapply` function to run the `forward` with a SparseTensor. https://github.com/mit-han-lab/torchsparse/blob/74099d10a51c71c14318bce63d6421f698b24f24/torchsparse/nn/modules/norm.py#L13

I would suggest you can do the same thing for SyncBatchNorm, then remove `convert_sync_batchnorm` and manually change it

[2021-08-20 08:54] owphoo opened #108 "question abount torchsparse inference time"
I use only one coord and one feature as sparse tensor, and use a 3d unet network. It costs about 20ms. When I use abount 1000 coords and features, the  inference time is abount 10 + ms. Does it Meet expectations?

[2021-08-21 09:42] toyato commented on #32
你使用的是wsl吗

[2021-08-21 16:02] kentangSJTU commented on #108
Hello @owphoo,

I feel it's in a reasonable range. Note that for such small inputs, data movement & kernel map construction instead of actual MatMul may dominate the runtime. In general I think experimenting on a larger input might give more meaningful results.

Best,
Haotian

[2021-08-22 02:35] #106 closed

[2021-08-22 02:38] zhijian-liu commented on #107
Thanks @CCInc! We may actually define a `convert_sync_batchnorm` in TorchSparse to correctly handle BatchNorms for both normal tensors and sparse tensors.

[2021-08-22 03:00] owphoo commented on #108
@kentangSJTU thanks.

[2021-08-22 03:00] #108 closed

[2021-08-23 02:15] snuffle-PX opened #109 "[BUG] The actual dilation is always 1 in torchsparse.nn.functional.conv3d"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

https://github.com/mit-han-lab/torchsparse/blob/6c305305e2dd6b2ce3274c19ec3cc7259ca45ce1/torchsparse/nn/functional/conv.py#L113-L115

### Expected Behavior

`offsets = get_kernel_offsets(kernel_size, stride=input.stride, dilation=dilation, device=feats.device)`

### Environment

[code]

### A

[2021-08-23 02:34] zhijian-liu commented on #109
Thanks for reporting this issue! Could you please submit a PR to fix this issue?

[2021-08-23 03:10] #109 closed

[2021-08-28 04:42] toyato commented on #95
！！！thank you！！！！It works!

[2021-09-03 03:03] ZERO2ER0 opened #111 "[BUG] AttributeError: 'SparseTensor' object has no attribute 'check'"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

[code]

---------------------------------------------------------------------------
AttributeError                            Traceback (most recent call last)
/tmp/ipykernel_51548/755603267.py in <module>
     39 pc = PointTensor(pc[:,:3], pc)
     40
---> 41 ret = initial_voxelize(pc, init_

[2021-09-03 15:11] zhijian-liu commented on #111
Could you please try to replace `new_tensor.check()` with `new_tensor.cmaps.setdefault(new_tensor.stride, new_tensor.coords)` (refer to https://github.com/mit-han-lab/spvnas/blob/master/core/models/utils.py#L26 for more details)?

[2021-09-09 02:44] ZERO2ER0 commented on #111
It worked! Think you very much!

[2021-09-09 02:44] #111 closed

[2021-09-12 19:41] NoOneUST opened #112 "Downsample"
I want to downsample a point tensor with arbitrary size to a given size and add it to another tensor. Here is my implementation. I think it now occupies too much memory because it is not sparsely implemented. May I ask how should I optimize it? Thank you!

[code]

The `sparse_to_dense_channel` function is defined as:

[code]

The `self.global_local_fuse` function is defined as:
[code]

[2021-09-18 03:13] zhijian-liu commented on #112
This seems very similar to `voxel_to_point` and `point_to_voxel` used in SPVNAS (see https://github.com/mit-han-lab/spvnas/blob/master/core/models/utils.py for more details). The basic idea is to use `F.sphash` and `F.sphashquery` to find the correspondence between the two tensors you wish to add.

[2021-09-22 09:20] runorz opened #113 "Is there a way to convert a model using torchsparse into torchscript for production in C++?"
I have used spvcnn model and it has used Torchsparse, but found it hard to convert to TorchScript. Is there any instruction in covering torchsparse model into production?

[2021-09-22 13:26] zhijian-liu commented on #113
This would be much more complicated than that. We haven't tried this but you may refer to https://pytorch.org/tutorials/advanced/torch_script_custom_ops.html for more details.

[2021-09-23 12:43] akaganeite opened #114 "[Installation] <Runnable on CUDA9.0?>"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Have you followed all the steps in the FAQ?

- [X] I have tried the steps in the FAQ.

### Current Behavior

At the end of a very long error message ,this is written:
 error: command '/usr/local/cuda/bin/nvcc' failed with exit status 1
I've double-checked that my CUDA(9.0.176) version matches the NVCC version

[2021-09-23 15:05] zhijian-liu commented on #114
I think your CUDA version is a little bit too old. Please try to update to 10.2. Thanks!

[2021-09-24 15:06] #112 closed

[2021-09-24 16:46] CCInc commented on #107
@zhijian-liu Great! I will assign it to you for now and if I have time I'll take a look.

[2021-09-24 16:49] CCInc commented on #114
@akaganeite Unfortunately I don't think this library will not be compatible with cuda 9 without significant changes, and we will not be able to support it.

[2021-09-24 16:49] #114 closed

[2021-09-28 00:30] xuanlinli17 opened #115 "[Possible BUG or intended behavior?] When Conv3d kernel_size > 1 and stride=1, features in a voxel do not propagate to the neighbor voxels that are not in existing input"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Hi,

From the code below, it seems like in `Conv3d`, when `kernel_size > 1` and `stride==1`, the features in a voxel do not propagate to the neighbor voxels that don't already exist in the input, as `x1.C` (output) is identical to `x.C` (input). However, for example, if a feature exists at `[

[2021-09-28 02:01] #115 closed

[2021-09-28 05:31] xuanlinli17 opened #116 "[BUG] Applying different Conv3d with same stride > 1 on the same tensor leads to different coordinate output"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

I constructed `conv1` and `conv2`, both are `spnn.Conv3d(3,3,kernel_size=3, stride=2)`. I ran `conv1(x)` and `conv2(x)` but got different coordinate outputs. The coordinates from `conv1(x)` is correct, but the coordinates from `conv2(x)` is wrong.

Might be caused by some deepcopy issues.

[c

[2021-09-28 15:02] xuanlinli17 commented on #116
It seems that the coordinates are correct if two Conv3d tensors with same stride > 1 are contained in the same `nn.Module`. However when they are created outside `nn.Module` the same error as above occurs.

**When `net` and `downsample` are inside `nn.Module`:**
[code]

**When `net` and `downsample` are outside of `nn.Module`:**

[code]

[2021-09-29 20:09] resuly commented on #16
I think I got the same issue here. Is this related to [generalized Sparse Tensor](https://github.com/NVIDIA/MinkowskiEngine/issues/316#issuecomment-784221232)?
[code]

[2021-10-01 22:38] zhijian-liu commented on #16
@resuly, could you please check the shape of `x` (both `coords` and `feats`) before the line of `x0 = self.stem(x)` (at L200)?

[2021-10-02 06:01] zhijian-liu commented on #116
Thanks for reporting the issue! I've submitted a PR to fix this issue. Could you please checkout that branch to see whether it works? Thanks!

[2021-10-02 06:07] #113 closed

[2021-10-02 07:25] xuanlinli17 commented on #116
Hi zhijian,

When I ran the code in the first thread (replicated here for details), pdb reports `malloc_consolidate(): invalid chunk size` and then seg faults and core dumps. Master version of code is fine.

[code]

Conda env python 3.8
[code]

[2021-10-02 18:41] zhijian-liu commented on #116
I've pushed a patch to the branch. Could you please try this again and let me know if that works? Thanks!

[2021-10-02 18:46] xuanlinli17 commented on #116
Seems that it works. Thanks!

[2021-10-02 18:46] #116 closed

[2021-10-03 06:14] sitzikbs opened #119 "Broken link in README"
The README file contains a link to an example that leads to a 404 page:
https://github.com/mit-han-lab/torchsparse/blob/dev/pre-commit/examples/example.py

[2021-10-03 14:01] #119 closed

[2021-10-03 15:46] NoOneUST opened #121 "2x downsample"
Now I have a point tensor. If I want to reduce its size to 1/2, how should I do? I checked the spnn.downsample function, but it only returns a coordinate. How should I get the corresponding values?

[2021-10-05 07:56] ginobilinie commented on #74
@f-sky I have encountered the same error, have you solved it? If yes, how do you solve it.

@CCInc Can you please help? I'm using this command to install:

pip install --upgrade git+git://github.com/mit-han-lab/torchsparse.git@v1.4.0

[2021-10-05 08:09] ginobilinie opened #122 "[Installation] Compiling error (cpp_extention)"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Have you followed all the steps in the FAQ?

- [X] I have tried the steps in the FAQ.

### Current Behavior

I have tried to build the torchsparse, and there is compiling error, which looks like "RuntimeError: Error compiling objects for extension".

I have checked the installing/compiling error related issues

[2021-10-05 11:48] cucdengjunli commented on #92
![394CEDC4B362D9DD59A350A6E32F10E8](https://user-images.githubusercontent.com/46188762/136016823-735876eb-bfae-4005-b2dc-730f48fdce87.jpg)
same issue

[2021-10-05 14:28] CCInc commented on #122
Hi, please post the full error log from pip install

[2021-10-05 19:47] aymenmir1 opened #123 "Compatibility between torchsparse and pytorch autograd engines"
I am wondering whether torchsparse's autograd engine is compatible with pytorch's autograd engine?Is it possible to integrate a neural network built using torch sparse with another network built using normal pytorch. For example
[code]

[2021-10-05 22:36] ginobilinie commented on #122
@CCInc Thanks. I have updated the log as required.

[2021-10-06 10:41] martinrebane opened #124 "Q: merging sparse tensors - is order important"
Hi! I need to merge/concat two sparse tensors `a` and `b`, but not feature-wise as in `torchsparse/torchsparse/operators.py` where `a.F` and `b.F` are concatenated by dim=1 and a.C kept as coordinate tensor. I need to concat them tensor-wise on dim=0. Such that all features from `a` and `b` are kept, but merged into a single tensor, the same for coords (.C). So if tensor `a` had `x` elements and t

[2021-10-07 17:56] ginobilinie commented on #122
@CCInc @zhijian-liu Can you please have a look at the updated error log and help?

[2021-10-07 18:12] martinrebane commented on #121
Well, you can downsample sparse tensors by using convolution with stride > 1. But what would you expect to happen when downsampling a pointtensor? Essentially, voxelisation is a downsampling operation, so by converting a point tensor to sparse tensor (and possibly also applying convolution with stride > 1) you will accomplish it. See, for example, SPVNAS paper.

[2021-10-08 03:45] zhijian-liu commented on #123
Yes, they are compatible. [This](https://github.com/mit-han-lab/spvnas/blob/master/core/models/semantic_kitti/minkunet.py#L178) could be a good example where all modules expect the classifier are TorchSparse modules while the final classifier is a standard PyTorch linear layer.

[2021-10-08 03:45] #123 closed

[2021-10-08 03:51] zhijian-liu commented on #74
@ginobilinie, could you post your full error message here?

[2021-10-08 03:56] zhijian-liu commented on #122
From the log, it seems like the issue is caused by
[code]

[2021-10-09 04:16] zhijian-liu commented on #92
@cucdengjunli, I think it's related to the environment variables. Could you re-install TorchSparse with
[code]
and post the full log here if there is any error?

[2021-10-09 04:19] zhijian-liu commented on #124
I guess what you are asking for is to stack over the batch dimension. The implementation is mostly correct. However, you need to keep in mind that the fourth dimension is `.C` is the batch index (zero-indexed). Thus, you need to add an offset (i.e., the batch size of `a`) to the batch index in `b.C`.

[2021-10-15 04:50] #122 closed

[2021-10-15 04:57] martinrebane commented on #124
Thanks for the clarification! The `sparse_quantize` example in the README removes all duplicate values on same coordinates in a voxel grid. Is this a requirement (i.e., sparse operations would fail otherwise) or just to speed things up?

[2021-10-15 07:04] NoOneUST commented on #121
Thank you for your reply. Here is my implementation to down-sample a big 3D (HWDC) volume to an arbitrary size. I am not sure whether I correctly understood your meaning. May you kindly give me some suggestions about the correctness of my code.
[code]

[code]

[code]

[code]

[2021-10-15 08:30] seekever opened #125 "TypeError: div() in downsample.py"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

downsample.py", line 28, in spdownsample
    coords[:, :3], sample_stride, rounding_mode='trunc') * sample_stride
TypeError: div() got an unexpected keyword argument 'rounding_mode'

### Expected Behavior

_No response_

### Environment

[code]

### Anything else?

_No response_

[2021-10-15 16:47] CCInc commented on #125
Hello, I put up a PR to address this issue. Please let me know if it helps. https://github.com/mit-han-lab/torchsparse/pull/126

[2021-10-18 02:34] seekever commented on #125
Thanks very much, it should be a perfect solution,  although I haven't test 'div().trunc()' yet.
I just repalce 'div' with 'floor_divide' in my local codes, it works with PyTorch1.6.0

[2021-10-19 22:01] #125 closed, assigned to nobody

[2021-11-01 03:57] Microslargh commented on #16
I Can't install this repo .........
please help me
running build_ext
building 'torchsparse.backend' extension
creating build/temp.linux-x86_64-3.8
creating build/temp.linux-x86_64-3.8/torchsparse
creating build/temp.linux-x86_64-3.8/torchsparse/backend
creating build/temp.linux-x86_64-3.8/torchsparse/backend/others
creating build/temp.linux-x86_64-3.8/torchsparse/backend/convolution
creating build

[2021-11-01 04:39] resuly commented on #16
Sorry for the late reply. It should be the same zero inputs issue as @noahstier mentioned above.

[2021-11-05 21:40] zhijian-liu commented on #16
@resuly, in this case, you should check what the input size is (before sending into the model). You need to make sure the input has more than one point.

[2021-11-07 09:49] Stone-sy commented on #122
Hello, have you solved this problem? What is the solution? thank you

[2021-11-08 07:11] dream-toy opened #127 "About upsample"
Hi,

@zhijian-liu Thanks for your great work.

How to directly upsample a feature map at the bottom of U-net? For example, if I downsample 3 times, how to utilize one single deconvolution layer with stride=8 to restore the feature map with the original voxel size.

[2021-11-11 13:39] suyunzzz opened #128 "About Multiplication"
@zhijian-liu
hello, if i use torchsprse how can i build a SE-module(it will use a function to multiply two tensor, just[ like ](https://github.com/NVIDIA/MinkowskiEngine/blob/b683e25a2482f49ea851dc4c629ffffdf70e0e37/MinkowskiEngine/modules/senet_block.py#L42) this

`        self.broadcast_mul = ME.MinkowskiBroadcastMultiplication()`

[2021-11-12 16:49] zhijian-liu commented on #128
Given two input sparse tensors `a` and `b` with the same coordinates (`a.C == b.C`), the element-wise multiplication can be implemented as follows:
[code]

[2021-11-12 21:44] zhijian-liu commented on #127
This is not supported in the current version. The main issue might be from https://github.com/mit-han-lab/torchsparse/blob/master/torchsparse/nn/functional/conv.py#L190, where the current implementation always assumes the kernel map pre-exists in the kernel map cache for deconvolution layers. This assumption holds if you gradually upsample in the same way as how you downsample, but does not hold i

[2021-11-13 05:46] suyunzzz commented on #128
thanks a lot: )

[2021-11-13 06:21] dream-toy commented on #127
Thank you so much for your reply.
Sorry, it is to be regretted that I can't help you. Because I am not good at programming.....

[2021-11-13 11:39] dream-toy commented on #127
How about utilizing the function voxel_to_point which used in spvcnn to achieve this?

[2021-11-15 05:40] zwy1996 opened #129 "ModuleNotFoundError: No module named 'torchsparse.point_tensor'"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Have you followed all the steps in the FAQ?

- [X] I have tried the steps in the FAQ.

### Current Behavior

Hi,

When I used the instruction to install the lib, but when I ran experiments I met the error, Could you please give me some advice？

torchsparse==1.4.0

best wishes to you!

### Error Line

--

### E

[2021-11-21 15:47] zhijian-liu commented on #127
This might be possible, but its behavior will be more like `interpolate` than `deconv`.

[2021-11-21 15:50] zhijian-liu commented on #129
This is due to the API changes from v1.4.0. You could change the import to `from torchsparse import PointTensor`.

[2021-11-21 23:56] dream-toy commented on #127
ok. Thank you!

[2021-11-22 04:56] zwy1996 commented on #129
ok, Thank you very much!

I have solved this problem

[2021-11-22 04:56] #129 closed

[2021-12-01 15:13] Teaksters opened #131 "[BUG] Integer division error in sparse Conv3d forward"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

First of all thanks for the useful library!

I am currently getting an integer division error when forwarding a torchsparse.nn.Conv3d layer:

```RuntimeError: Integer division of tensors using div or / is no longer supported, and in a future release div will perform true division as in Python

[2021-12-02 17:34] CCInc commented on #131
Hi @Teaksters thanks for the report! I see you're using pytorch 1.6.0, would you be able to update your pytorch version and see if it still occurs? I think version 1.8 or 1.9 may work. Let me know if not.

[2021-12-02 17:35] CCInc commented on #127
Closing for inactivity.

[2021-12-02 17:35] #127 closed

[2021-12-03 03:19] emilypython opened #132 "to dense ,dear autor ,it there any api for to the dense tensor?"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

to dense ,dear autor ,it there any api for to the dense tensor?

### Expected Behavior

to dense ,dear autor ,it there any api for to the dense tensor?

### Environment

[code]

### Anything else?

to dense ,dear autor ,it there any api for to the dense tensor?

If there,could I get an  examp

[2021-12-03 14:02] zhijian-liu commented on #132
See https://github.com/mit-han-lab/torchsparse/issues/88.

[2021-12-03 14:02] #132 closed

[2021-12-03 14:32] suyunzzz commented on #128
hello, zhijian, i want to know how can i achieve a Self-Attenion Modules by torch-sparse or MinkowskiEngine, it seems that is not a  ops to achieve it?
just like this:
[code]

i have a idea, the most difficult point is that sparseTensor in one batch may have different coordinates number after downsample, so could i use some sample function(i.e. FPS or RS) to select same number points, and then use

[2021-12-03 14:32] suyunzzz commented on #128
@zhijian-liu : )

[2021-12-10 06:32] zhijian-liu commented on #128
It's a bit hard to parallelize over the batch dimension as different point clouds within the batch might have different number of points. However, it should be fairly easy to implement if you process each instance within the batch sequentially. A rough implementation could be something like this:
[code]

[2021-12-13 16:38] suyunzzz opened #133 "About aggregation and interpolation"
hello, zhijian,

1. i want to do a  aggregation and interpolation in sparse voxel,
there are my code:

[code]
in `x1 = SparseTensor(z0.F, x.C, 1)`, i use x.C and z0.F to construct output x1, did I do something wrong?

2. in this case, the `kernel == voxel_size` and `stride == voxel_size`, could I understand in this way?

thanks a lot! : )

[2021-12-14 02:54] suyunzzz opened #134 "About aggregation and interpolation"
hello, zhijian,

1. i want to do a  aggregation and interpolation in sparse voxel,
there are my code:

·```
# aggregate + upsampling
def aggregate(x:SparseTensor,  voxel_size:int):
    z = PointTensor(x.F, x.C.float())

    x0 = initial_voxelize(z, 1, voxel_size)          # voxelization

    z0 = voxel_to_point(x0, z, nearest=True)   # voxel to point

    x1 = SparseTensor(z0.F, x.C, 1)

    print

[2021-12-14 03:20] #134 closed

[2021-12-14 03:21] suyunzzz commented on #134
duplicate #133

[2021-12-21 04:30] #128 closed

[2021-12-27 16:00] #131 closed

[2021-12-27 18:06] zhijian-liu commented on #133
Hi @suyunzzz, I don't fully understand your need. Could you please elaborate a bit more?

[2021-12-28 04:30] suyunzzz commented on #133
Hello, zhijian,
In the MinkowskiEngine, there are some LocalPooling function, i.e. [MinkowskiAvgPooling](https://github.com/NVIDIA/MinkowskiEngine/blob/b975751d89732bf8048418770b349489baca864a/MinkowskiEngine/MinkowskiPooling.py?_pjax=%23js-repo-pjax-container%2C%20div%5Bitemtype%3D%22http%3A%2F%2Fschema.org%2FSoftwareSourceCode%22%5D%20main%2C%20%5Bdata-pjax-container%5D#L195), not [global_avg_po

[2021-12-28 23:07] zhijian-liu commented on #133
I haven't checked the details of your implementation, but I think you are on the right track.

From my understanding, you might need to pass `x.s` to reconstruct the sparse tensor rather than `1`.

[2021-12-28 23:09] zhijian-liu commented on #133
Adding @Xiuyu-Li and @kentangSJTU to this thread. We might need to support upsampling (nearest / trilinear) and downsampling in the future.

[2021-12-29 04:27] suyunzzz commented on #133
Because it just aggregate on input resolution, so i pass 1.
i will check again, thanks a lot

[2021-12-29 08:21] StarsTesla opened #135 "build failed"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Have you followed all the steps in the FAQ?

- [X] I have tried the steps in the FAQ.

### Current Behavior

I tried to git clone the repo and pip install , but it always git wrong through the building process.

### Error Line

  DEPRECATION: A future pip version will change local packages to be built in-place

[2021-12-29 08:23] #135 closed

[2021-12-29 08:33] StarsTesla opened #136 "build faild"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Have you followed all the steps in the FAQ?

- [X] I have tried the steps in the FAQ.

### Current Behavior

I clone the repo and try to pip install . but what ever I have done, it always shows the error.

I have tried:
downgrade the cuda to 10.2
downgrade the pytorch
recreate a new conda env

### Error Line

[2021-12-29 08:36] StarsTesla commented on #136
At first it shows the [ninja -v] problem, after I change the -v to --version, then the problem shows above, and keep same no matter what I have done.

[2021-12-30 14:15] suyunzzz opened #137 "about voxel's neighbor"
hello, Zhijian

I want to know how can i get the neighbor voxels of a central voxel?
In the picture, we can make some offset with central pixel(i.e. (-1, -1), (-1, 0), (-1, 1)...), can we do this in the voxel?

[2022-01-02 03:27] zhijian-liu commented on #136
Thanks for reporting this issue! Unfortunately, we haven't tested the installation on Windows and don't currently have the environment to reproduce the error.

[2022-01-02 03:58] zhijian-liu commented on #137
You may refer to `torchsparse.functional.sphash` (at https://github.com/mit-han-lab/torchsparse/blob/master/torchsparse/nn/functional/hash.py#L10).

[2022-01-06 19:27] shihongf commented on #9
Hi,

Thanks for the great work. I currently have trained a my own model and want to correctly calculate the MACs of it. Could you give me a quick guide? For example, where should I find the kernel_map_size of each layer?

Thanks in advance.

[2022-01-07 21:28] zhijian-liu commented on #9
After the model inference, this will be stored in the `kmaps` field of the input tensor: see https://github.com/mit-han-lab/torchsparse/blob/master/torchsparse/nn/functional/conv.py#L174-L176.

[2022-01-14 00:46] shihongf commented on #9
Thanks! But the actual result did not quite match the one reported here: https://github.com/mit-han-lab/spvnas#semantickitti-1. For example, the GMACs for SemanticKITTI_val_MinkUNet@29GMACs I calculated is almost twice than what is reported. The way I calculate the average kernel map for each layer is first do a summation of `nbsizes`, which the size of active kernel maps and then average over the

[2022-01-14 17:28] #137 closed

[2022-01-14 19:08] kentangSJTU commented on #9
Hi @shihongf,

Have you tried to calculate the GMACs for the full model? The 29GMACs MinkUNet model is just a channel x 0.5 version of the full model, so it should have around 1/4 GMACs comparing with the full model.

Besides, we are averaging the GMACs on the sequence 08 of SemanticKITTI (the official validation set).

I can also provide you with a FLOPs counting function for thop, which might be

[2022-01-14 22:12] shihongf commented on #9
Thank you for your quick reply, the script really helps!

[2022-01-17 10:03] zbl-96 commented on #133
As i understand "nearest" mean use the nearest point interpolation .you should use trilinear interpolation . But I need help  to implement linear interpolation.

[2022-01-17 10:09] zbl-96 commented on #133
As i understand the "nearest" mean use the nearest interpolation ,you should ues trilinear interpolation.But i need help for set value for  "get_kernel_offsets" function's  stride . Or maybe I misunderstood?

[2022-01-19 16:49] yangzuyuanhao opened #138 "Can support cuda11?"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

I am using RTX 3060. which must requires CUDA>11.1

Inside Conda, the torchsparse can compile successfully, but will raise err in runtime:
"AttributeError: module 'torchsparse.backend' has no attribute 'hash_cuda'.

It looks like the torchsparse didn't compatible with cuda 11? (conda environm

[2022-01-19 16:53] CCInc commented on #138
Hello. It is compatible. Please try going through the FAQ and update us with the information requested there. https://github.com/mit-han-lab/torchsparse/blob/master/docs/FAQ.md

[2022-01-21 05:25] #138 closed

[2022-01-21 05:25] #136 closed

[2022-02-10 09:06] rgao0313 opened #141 "importError when running model_zoo"
import torchsparse.backend
ImportError: /home/kelsiegao/anaconda3/envs/torch/lib/python3.7/site-packages/torchsparse/backend.cpython-37m-x86_64-linux-gnu.so: undefined symbol: _ZN3c106detail14torchCheckFailEPKcS2_jS2_

How to solve this problem?I want to download some pretrained models to test the code. However, the above error happens
python 3.7.11
pytorch 1.7.1

[2022-02-11 01:56] harry1576 commented on #55
Hi there,
I am getting the same error. Are you still planning on adding a knob to tune?
Cheers,
Harry

[2022-02-11 14:12] mengshiyu0109 opened #140 "How to install TorchSparse in docker?"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Have you followed all the steps in the FAQ?

- [X] I have tried the steps in the FAQ.

### Current Behavior

I just use "apt-get install libsparsehash-dev" in the docker.

BELOW:
root@ea155398311a:/workspace# apt-get install libsparsehash-dev
Reading package lists... Done
Building dependency tree
Reading state

[2022-02-12 02:08] zhijian-liu commented on #140
`libsparsehash-dev` is just one dependency required for TorchSparse. You may follow the instruction at https://github.com/mit-han-lab/torchsparse#installation to install TorchSparse.

[2022-02-12 02:31] zhijian-liu commented on #55
Hi @harry1576, it's not in our plan for the near future. As a workaround, you may follow https://github.com/mit-han-lab/torchsparse/issues/55#issuecomment-815981257 to enlarge the table size further.

[2022-02-12 02:33] zhijian-liu commented on #141
Could you please try re-installing TorchSparse with `pip install -v git+https://github.com/mit-han-lab/torchsparse.git`?

[2022-02-13 05:27] mengshiyu0109 commented on #140
thanks for reply!!!

could I get an dockerfile in ubuntu20.04 python3.8?
when I run"pip install..."
 I always got an error

[2022-02-13 05:28] zhijian-liu commented on #140
Could you post the full error message?

[2022-02-13 06:18] mengshiyu0109 commented on #140
aha I have solved the error,

sorry to disturb you !

[2022-02-13 07:07] mengshiyu0109 opened #142 "[BUG] <title>AttributeError: module 'torchsparse.backend' has no attribute 'hash_cuda'"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

oot@9cec990d016b:/workspace# python3 example_started.py
Traceback (most recent call last):
  File "example_started.py", line 87, in <module>
    outputs = model(inputs)
  File "/usr/local/lib/python3.8/dist-packages/torch/nn/modules/module.py", line 889, in _call_impl
    result = self.forwar

[2022-02-13 07:09] #140 closed

[2022-02-14 01:51] rgao0313 commented on #141
I reinstall torchsparse as your command. However, it remains the same error as before like the following details

Failed to import tensorflow.
Traceback (most recent call last):
  File "evaluate.py", line 19, in <module>
    from model_zoo import minkunet, spvcnn, spvnas_specialized
  File "/home/kelsiegao/Downloads/spvnas/model_zoo.py", line 9, in <module>
    from core.models.semantic_kitti.mink

[2022-02-18 05:33] zhijian-liu commented on #141
Is there any error or warning from the installation? If so, could you please post them here? Also, you could try to upgrade your PyTorch to the latest version.

[2022-02-18 05:34] zhijian-liu commented on #142
Could you try `FORCE_CUDA=1 pip3 install --upgrade git+https://github.com/mit-han-lab/torchsparse.git@v1.4.0` and post any warning or error message here?

[2022-03-05 20:51] Jacky-007 commented on #142
Hi，please help me. I have the same question.
Traceback (most recent call last):
  File "demo.py", line 76, in <module>
    outputs, loss_dict = model(sample, save_scene)
  File "/home/dongchenyao/anaconda3/envs/neural/lib/python3.7/site-packages/torch/nn/modules/module.py", line 722, in _call_impl
    result = self.forward(*input, **kwargs)
  File "/home/dongchenyao/anaconda3/envs/neural/lib/pytho

[2022-03-05 20:52] Jacky-007 commented on #142
I tried it, and it didn't work.

[2022-03-06 17:22] zhijian-liu commented on #142
Could you please paste the full log message of `pip install -v git+https://github.com/mit-han-lab/torchsparse.git`?

[2022-03-06 21:15] davodogster opened #143 "Is Point Cloud Regression possible with MSE Loss?"
Hi, awesome work on the repo! @zhijian-liu
Data input: Sparse individual point clouds. All different number of points. Each has a single associated regression value. so data = coords = x,y,z coordinates, **feats = None** (because it's just a point cloud and every point has no features, not even intensity), 'targets': single value per point cloud/example.
Desired output - estimate of that value usi

[2022-03-07 10:03] libing64 opened #144 "[Installation] <Build Failed>"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Have you followed all the steps in the FAQ?

- [X] I have tried the steps in the FAQ.

### Current Behavior

_No response_

### Error Line

  subprocess.CalledProcessError: Command '['ninja', '-v']' returned non-zero exit status 1.

### Environment

[code]

### Full Error Log

<details>
  <summary>Error Log</s

[2022-03-07 11:03] libing64 commented on #144
fixed by changing "ninja" "-v" to "ninja" "--version"

https://www.i4k.xyz/article/weixin_43731803/116787152

[2022-03-07 11:03] #144 closed

[2022-03-11 01:19] aniqueakhtar opened #145 "Any way of extracting the input output coordinates?"
Hello,
Thank you for your efforts in this library. I have a very specific problem and I was wondering if it can be resolved using torchsparse.
I am trying to use a moving window coordinate extractor. Specifically, if my input is a 3D point cloud, I would like to extract non-overlapping coordinates and their corresponding features using a 32x32x32 kernel/window.

I would like to use something like

[2022-03-11 19:37] zhijian-liu commented on #143
In this case, you might use the XYZ coordinates as input features.

[2022-03-11 20:08] davodogster commented on #143
Thanks, and what about the head of the model, can it be changed to work with my data? I have one value to estimate per point cloud, instead of one value per point.

Thanks, Sam
________________________________
From: Zhijian Liu ***@***.***>
Sent: Saturday, March 12, 2022 8:37:19 AM
To: mit-han-lab/torchsparse ***@***.***>
Cc: Sam Davidson ***@***.***>; Author ***@***.***>
Subject: Re: [mit-han-lab

[2022-03-11 20:52] zhijian-liu commented on #143
As for the head, you can do an average pooling and add a linear layer after that.

[2022-03-11 21:06] zhijian-liu commented on #145
I think for your use case, a better implementation would be to first quantize the coordinates (dividing by 32) and sort the quantized coordinates of all points (so that the points within the same window will be next to each other).

[2022-03-11 21:21] aniqueakhtar commented on #145
Thanks for the reply. I understand that dividing by 32 and sorting them would get me the downsampled coordinates. So the questions would be:
1) Any way to obtain the upsampled coordinates within the 32x32x32 window?
2) Is it possible there is a faster implementation of doing this. Doing all this in python is computationally intensive. Is there an implementation of sorting and extracting coordinate

[2022-03-12 04:55] aniqueakhtar commented on #145
I have tried two methods to solve this problem. I am employing MinkowskiEngine to try to solve this.

Method # 1:
[code]

Method # 2:
[code]

The first method is pretty slow. The second method is a little better because of the kernel map but creating a dictionary from the kernel map takes a long time and thus slows down the code for practical usage.

Any tips on how this could be done? Is there an

[2022-03-18 04:34] zhijian-liu commented on #145
Thanks for following up! I don't see an easy way to optimize this. The best way I can think of is to write a custom CUDA kernel based on your second method (to parallelize over `unique_coords`). It also depends a lot on the data distribution: e.g., how many points are there within each window, whether the points are uniformly distributed in different windows.

[2022-03-21 04:44] davodogster opened #146 "sparse_quantize performance.py doesn't work, takes from 1 to 2 positional arguments"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

![image](https://user-images.githubusercontent.com/46079516/159205656-7b87025b-779d-453a-94ae-8398466633b6.png)
![image](https://user-images.githubusercontent.com/46079516/159205724-93f03608-1f0a-44f3-b0ad-b7e5ab334fe6.png)

![image](https://user-images.githubusercontent.com/46079516/15920582

[2022-03-21 05:25] davodogster commented on #146
Also this error:

![image](https://user-images.githubusercontent.com/46079516/159209235-54b76aa3-8bba-49ff-993f-ce7cfcd19d3f.png)

![image](https://user-images.githubusercontent.com/46079516/159209199-0268bbd4-9640-4ba0-9ad2-1a4ebe9dfeee.png)

Does torchsparse work?

[2022-03-22 12:54] YJYJLee opened #147 "Could you upload MinkUNet18C implemented with torchsparse?"
I am trying to reproduce the result of torchsparse version of MinkowskiEngine reported in the paper and README.

Could you please upload MinkUNet18C in torchsparse version that you used at the experiment?

I am struggling to implement MinkUNet18C  with torchsparse since I am new to this library.
It will be very helpful if I could see the author's implementation!

[2022-03-22 16:32] #145 closed

[2022-03-22 16:32] #143 closed

[2022-03-22 16:32] #142 closed

[2022-03-22 16:32] #141 closed

[2022-03-25 19:43] zhijian-liu commented on #147
@YJYJLee, thanks for your interest! We are actively working on the new release that will contain the model zoo (with MinkUNet). Stay tuned!

[2022-03-31 15:57] digital-idiot opened #149 "[Feature Request] Support for group convolution"
Grouped convolution is supported well in `pytorch`'s convolution layers / ops. If possible, it would a great to add that ability to `torchsparse`.

[2022-04-01 04:57] zhijian-liu commented on #149
Thanks for bringing this up! The reason that we do not support grouped convolution is that it does not offer much speedup for sparse workloads. This is mainly because sparse convolution is memory-bounded instead of computation-bounded. That said, I think supporting this is still meaningful, and we probably need to do more optimization for it.

[2022-04-07 05:51] Ryyyc commented on #149
I'm also interested in support for grouping operations~

For the design of lightweight networks such as MobileNet, the use of depthwise separable convolutions (that is, setting the number of groups to the number of input channels) can reduce the amount of parameters.

For a kernel size of KxK, C channels (assuming the same number of input and output channels)
 parameters                      | 2D

[2022-04-08 17:51] zhijian-liu commented on #149
Thanks for providing the model size perspective! We will take that into our consideration.

[2022-04-29 12:48] oliver-batchelor opened #152 "Benchmarks from paper with spconv"
Hi there,

I read your recently published paper - is the benchmark available to run?

"latest versions of two state-of-the-art sparse convo-
lution libraries MinkowskiEngine v0.5.4 (Choy et al., 2019)
and SpConv v1.2.1".

Presumably the paper was written some time ago, as the SpConv latest version is now 2.1 and advertises some big performance gains.

[2022-04-30 04:02] #147 closed

[2022-05-05 06:19] suyunzzz opened #153 "About GlobalMaxPool Module"
https://github.com/mit-han-lab/torchsparse/blob/67c90d17d05f8ef1e4c7c613c510fb037d4dad99/torchsparse/nn/modules/pooling.py#L15

This Module's Output is not SparseTensor but Tensor!

[2022-05-06 18:24] #153 closed

[2022-05-06 18:25] zhijian-liu commented on #153
Thanks for reporting this issue! I've submitted a PR to fix the type annotation.

[2022-05-10 23:10] alexanderswerdlow opened #155 "[BUG] Voxelization results differ significantly between the CPU and CUDA implementation"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Using `spvoxelize` with CUDA tensors results in voxel features greater than the largest value in the input (thus it cannot be the correct result since it is an average). Switching to the CPU implementation produces the correct result.

E.g. the following does not work:

[code]

However, this

[2022-05-16 07:54] justinchang713 commented on #92
I am sorry that I still got "AttributeError: module 'torchsparse.backend' has no attribute 'hash_cuda'" after installing the torchsparse 1.4.0 successfully, is this problem already solved?

[2022-05-19 16:05] qiaozhijian commented on #142
I try your suggestion.
- GCC: 7
- PyTorch:1.7.1
- PyTorch CUDA:10.2
- TorchSparse:1.4
[code]

[2022-05-22 15:52] qiaozhijian commented on #142
I solved it. I don't know why the environment don't know where cuda is. So I export CUDA_HOME=/usr/local/cuda agagin.

[2022-05-23 04:16] zhijian-liu commented on #142
Thanks for letting us know!

[2022-05-23 04:56] zhijian-liu commented on #155
@alexanderswerdlow, thank you for reporting this issue! Could you please provide a short code snippet to reproduce this bug? Thanks!

[2022-06-05 10:46] L-Reichardt commented on #66
@digital-idiot Thanks a lot. I've been trying for days to successfully compile on different CUDA versions (which always lead to a freeze and crash so no error messages), however with your .whl-file I have had success.

[2022-06-06 22:03] akshay-antony opened #156 "Key error when using deconv"
/lib/python3.7/site-packages/torchsparse/nn/functional/conv.py", line 134, in conv3d
    kmap = input.kmaps[(tensor_stride, kernel_size, stride, dilation)]
KeyError: ((8, 8, 2), (3, 3, 3), (2, 2, 2), (1, 1, 1))

I am writing Cylinder3d using torchsparse, but a stride 2 deconv is causing key error. And is there a way to share the coordinate mapping Minkowski or spconv?

[2022-06-10 07:45] kavisha725 opened #157 "[Feature request] Inverse mapping from SparseTensor to point cloud (after convolution)."
Thanks for releasing this very useful library.

Is there a way to map SparseTensor back to point cloud?
For example, I'm trying to extract the SparseTensor at the bottleneck level of the UNet used in SPVNAS (https://github.com/mit-han-lab/spvnas/blob/69750e900d8687ac9fcc8e042b171cd1f6beffa1/core/models/semantic_kitti/spvnas.py#L322) and decompose that into the point cloud and associated point feat

[2022-06-10 23:15] zhijian-liu commented on #157
I think you could try to use devoxelization to convert the voxels at the bottleneck back to the points (see https://github.com/mit-han-lab/spvnas/blob/master/core/models/semantic_kitti/spvnas.py#L325).

[2022-06-11 00:53] kavisha725 commented on #157
Thanks for the quick reply. Sorry I forgot to include this in my earlier message.
I'm trying to extract the points at the (down-sampled) resolution of the bottleneck level. ie. I want to convert x4.C into points and keep the same number of elements as x4.C.

`z1 = voxel_to_point(x4, z0)` returns a PointTensor in the original resolution (same number of elements as z0).

I tried the following:
`x4_p

[2022-06-11 02:38] zhijian-liu commented on #157
I still do not fully understand your use case. From my understanding, `x4_pt` is already in the point representation and has the same number of elements as `x4`.

[2022-06-11 06:50] kavisha725 commented on #157
Sorry again for the poor explanation.
The coordinate values of SparseTensor and PointTensor variables are not the points in the original point cloud (they have been quantized). While its possible to map the coordinates of the original SparseTensor (x.C) back to the point cloud using the inverse_indices from the sparse_quantize() function (https://github.com/mit-han-lab/torchsparse/blob/4fa67d2f728

[2022-06-12 00:30] BlarkLee opened #158 "CUDA arch (8.6) installation"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Have you followed all the steps in the FAQ?

- [X] I have tried the steps in the FAQ.

### Current Behavior

I am using 3090Ti for installing torchsparse, I wonder if this repo is compatible with arch 86.

### Error Line

ValueError: Unknown CUDA arch (8.6) or GPU not supported

### Environment

[code]

### Fu

[2022-06-12 00:40] #158 closed

[2022-06-19 03:55] zhijian-liu commented on #157
It's not natively supported. From my understanding, this mapping can be obtained by composing the following two:
* Mapping from the downsampled sparse tensor to the input sparse tensor (this could be achieved by `voxel_to_point`).
* Mapping from the input sparse tensor to the original point cloud (this can be obtained by `inverse_indices`).

[2022-06-19 10:10] kavisha725 commented on #157
Thanks for the reply. Closing the issue.

[2022-06-19 10:10] #157 closed

[2022-06-25 01:03] zhijian-liu commented on #156
@akshay-antony, thank you for reporting this issue! Could you please provide a short code snippet to reproduce this bug?

[2022-07-08 07:21] The-Real-Thisas opened #159 "[Feature Request / Question] Modifications Required to run on ARM / M1"
Since I didn't see any mention of M1 or ARM and the current build fails. I was wondering what changes may be needed to support the architecture.

Short Version:
[code]

Full Log:
[fail.log](https://github.com/mit-han-lab/torchsparse/files/9069785/fail.log)

[2022-07-15 04:45] zhijian-liu commented on #159
Could you please use `gcc` instead of `clang` for the compilation?

[2022-07-15 08:44] The-Real-Thisas commented on #159
I attempted.

I think maybe this is the wrong way to do it.

[code]

[2022-07-15 09:05] The-Real-Thisas commented on #159
Weirdly enough this conda package (https://anaconda.org/conda-forge/torchsparse) actually builds but when I execute an example script.

[code]

It gives me an error.

[code]

I think this is indicative of some sort of dependacy collision.

[Related Stackoverflow
](https://stackoverflow.com/a/39519008)
Python Version: Python 3.9.13
Pytorch: 1.11.0.post2

[2022-07-22 06:43] zhijian-liu commented on #159
I think you could try setting `CC` or `CXX` instead to specify which compiler to use for building TorchSparse.

[2022-07-22 10:07] linzhenyuyuchen opened #160 "[BUG] <RuntimeError: Tensors of type TensorImpl do not have sizes>"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

[code]

### Expected Behavior

_No response_

### Environment

[code]

### Anything else?

The output of installation of torchsparse:

[code]

[2022-07-22 10:08] linzhenyuyuchen commented on #160
torchsparse=1.4.0 is installed successfully with the warning above..

[2022-07-23 15:57] The-Real-Thisas commented on #159
I'm sorry @zhijian-liu I'm not sure how I can do that. Could you maybe provide what flag I should set since I feel out of my depth here.

[2022-07-25 03:51] zhijian-liu commented on #159
No worries! I'm not very certain either. Could you maybe try `export CXX=<path-to-g++>` before installation (see https://unix.stackexchange.com/questions/298810/how-to-change-the-default-cc-command-on-mac-os)?

[2022-07-26 04:30] zjp-shadow opened #161 "[BUG] some code mistakes on hash_kernel"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When we test the functions of hash, we meet the error when offset equals to $0$ , and find out the results when using `sphashquery` is not $[0, 1, \dots, n-1]$. Then we find the bugs in `hash_kernel`.
[code]
I think for the same points in query, the `batch_id` should be the same too.

It can

[2022-07-27 01:39] ahmedius2 opened #162 "Unused variable in cuda kernel kernel_hash_kernel"
In file backend/hash/hash_cuda.cu, the following variable appears unused for the hash calculation:
`extern __shared__ int kernel_offset_local[];
`
Am I missing something or is this variable supposed to be used in place of the kernel_offset?

[2022-07-31 08:29] zouyuanpeng commented on #92
@zhijian-liu
When I train SPVCNN(use the code https://github.com/mit-han-lab/spvnas), I still encounter this porblom.
I'm in a docker env , V100 GPU, and install torchsparse use TORCH_CUDA_ARCH_LIST="7.0;7.5" pip install --upgrade git+https://github.com/mit-han-lab/torchsparse.git, it works:

Collecting git+https://github.com/mit-han-lab/torchsparse.git
  Cloning https://github.com/mit-han-lab/tor

[2022-07-31 15:42] zhijian-liu commented on #92
I think the CUDA backend is not enabled for installation. Could you add `FORCE_CUDA=1` before your installation command?

[2022-08-01 07:07] zouyuanpeng commented on #92
I find that I'm in a pytorch runtime docker, which has no compiler CUDA, so find no CUDA path. When I use a dev docker, and install torchsparse as your installation, it succeed. Thank you, @zhijian-liu

[2022-08-03 09:23] jacker-whh opened #164 "[BUG] spnn.Conv3d cuda and cpu the inference results are not comparable"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

我正在尝试移植 spnn.Conv3d，但是发现cuda 版本和cpu 版本的推理结果是有差异。

spnn.Conv3d的参数如下：
self.conv3d=spnn.Conv3d(4, 32, 3,1)

### Expected Behavior

spnn.Conv3d的参数如下：
self.conv3d=spnn.Conv3d(4, 32, 3,1)

他们直接的差异如下：
tensor([[ 0.0000,  0.0000,  0.0000,  ...,  0.0000,  0.0000,  0.0000],
        [-1.1202,  2.1639,  1

[2022-08-04 17:49] ahmedius2 opened #165 "Reproducing results in the paper"
Hello,

How can we reproduce the results in the TorchSparse paper at Figure 11? Do you provide the implementation of MinkUNet and CenterPoint that utilizes TorchSparse?

Also, when I look at the CUDA sparse convolution code, it appears that your adaptive grouping strategy is not implemented. Could you tell me where should I look for it, is there a specific branch?

[2022-08-05 05:22] zhijian-liu commented on #165
Hi @ahmedius2, thanks for your interest in our work. We have a development branch for the features related to MLSys 2022, which we are currently cleaning up and verifying the correctness. Stay tuned!

[2022-08-08 12:33] zouyuanpeng opened #166 "[Installation] build from source succeed, while encounter errors in running."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Have you followed all the steps in the FAQ?

- [X] I have tried the steps in the FAQ.

### Current Behavior

I bulid torchsparse from source(for I may modify some source codes in future), using  FORCE_CUDA=1 python setup.py bdist_wheel, it succeed(see Full Error Log below), while when I use it in SPVNAS, it en

[2022-08-09 02:13] zouyuanpeng commented on #66
@digital-idiot I try to build torchsparse from source as your (FORCE_CUDA=1 python setup.py bdist_wheel), it succeed, while when I use it in SPVNAS project, it encounter errors: AttributeError: module 'torchsparse.backend' has no attribute 'hash_cuda'. Do you meet similar errors when build from source codes successfully and import it in other project?

[2022-08-09 11:46] digital-idiot commented on #66
@zouyuanpeng
I'm **guessing** that you probably did not install [Google Sparse Hash](https://github.com/sparsehash/sparsehash) library or you have improper installation of this library. Kindly check this. It is clearly mentioned in the README as dependency with notes on how to install it.

[2022-08-09 18:09] Xiuyu-Li commented on #166
Hi,

From the error traceback it seems like torchsparse used in the code was directly imported from `/home/zouyuanpeng/torchsparse-master/torchsparse/`. Can you try making torchsparse imported from `/opt/conda/lib/python3.7/site-packages/torchsparse` (which should be the location for the installed wheel) and see if this error still preserves?

[2022-08-10 01:43] zouyuanpeng commented on #66
I have installed libsparsehash by sudo apt-get install libsparsehash-dev

[2022-08-10 02:12] zouyuanpeng commented on #166
Hi Xiuyu, thinks for your reply, I find that there has no folders "torchsparse" in my "/opt/conda/lib/python3.7/site-packages/", while another folder "torchsparse-1.4.0-py3.7-linux-x86_64.egg" in it. Files should be in "/opt/conda/lib/python3.7/site-packages/torchsparse" are in "/opt/conda/lib/python3.7/site-packages/torchsparse-1.4.0-py3.7-linux-x86_64.egg/torchsparse/", see  below(sorry for that

[2022-08-10 03:15] Xiuyu-Li commented on #166
How did you install torchsparse after building the wheel? Can you try `python -m pip install dist/torchsparse-1.4.0-cp37-cp37-linux_x86_64.whl --force-reinstall` after running `FORCE_CUDA=1 python setup.py bdist_wheel`?

[2022-08-11 02:49] SFMDI commented on #107
Is there any progress on this issue?
torchsparse is not available due to this problem when multi-gpu learning with pytorch-lighting.

[2022-08-12 04:37] zhijian-liu commented on #166
Or could you maybe try `FORCE_CUDA=1 pip install -v -e .`?

[2022-08-12 04:38] zhijian-liu commented on #164
Thanks for reporting this issue! Could you please provide a minimal code snippet for us to reproduce this bug?

[2022-08-12 04:40] zhijian-liu commented on #159
@The-Real-Thisas, I'm just checking in to see if this issue has been resolved. Thanks!

[2022-08-12 06:32] haiduo commented on #92
I have succeeded with your solution!

[2022-08-12 14:24] The-Real-Thisas commented on #159
Sorry @zhijian-liu I was busy for the past few weeks and was unable to focus on this.

I tested with setting CXX

[code]

It's a different error so I think it is progress ?

I think it's a problem with pytorch since it gives a ModuleNotFoundError but I have torch installed, maybe it is a version issue ?

[code]

I'm not sure where to go from here, maybe try building from the repo manually ?

[2022-08-16 10:41] saltoricristiano opened #167 "[Installation] AttributeError: module 'torchsparse.backend' has no attribute 'hash_cuda'"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Have you followed all the steps in the FAQ?

- [X] I have tried the steps in the FAQ.

### Current Behavior

I installed torchsparse successfully but once I run my code, it says me `torchsparse.backend` has not `hash_cuda`. Indeed there's no `hash_cuda` in `backend.py`. I guess the error is that I'm using cuda

[2022-08-19 08:02] zeyu-hello commented on #165
@Xiuyu-Li Any progress of adaptive matrix multiplication grouping yet?

[2022-08-19 22:54] ShivamDuggal4 commented on #160
Hi @Xiuyu-Li  @zhijian-liu

This issue seems to be happening with torch>=1.12
Is there a fix for this ?

Would appreciate any help, thanks!

Best Regards
Shivam

[2022-08-21 03:48] HaFred commented on #133
Hi, @suyunzzz @zhijian-liu , sorry to bother you. I am looking for the torchsparse counterpart for `MinkowskiInterpolation()`. Any update on this issue? Or any possible suggestions for me to investigate will be greatly appreciated, thank you.

[2022-08-25 02:06] xuxiaoxxxx commented on #32
[code]
I also encounter this problem, can you help me?

[2022-08-26 02:33] inspirelt commented on #82
Hi, @saeedhd96 , @zhijian-liu , @kentang-mit  have you solved the inconsistency? I met the same problem, reproduced by following code:

[code]

And it outputs

[code]

Are there any solutions? Thanks!

[2022-08-26 21:23] Kausta commented on #23
Hello,
I am also having problems with kernel_size=1 / stride=2 convolutions, and wanted to ask whether I should open a new issue ? I know that there has been a PR related to fixing this, but I think there are still some issues.

The issue I am currently having is with the:
[code]
This normally gives the following error
[code]
and when I run the same code with `CUDA_LAUNCH_BLOCKING=1`, it tries to

[2022-08-27 14:54] chendaozai commented on #68
@-

It works. Thanks :)

[2022-09-06 16:14] The-Real-Thisas commented on #159
@zhijian-liu, Sorry for the delay, just wondering what I can do from here ?

[2022-09-06 22:24] HeCraneChen commented on #158
How did you solve it? Had the same problem with 3090. Environment is identical to yours.

[2022-09-08 07:19] haiduo commented on #165
Mark!

[2022-09-08 08:52] haiduo opened #168 "Stride of TorchSparse Conv3d is no effect?"
Hello,
 I have a problem about Stride of TorchSparse Conv3d. Through experiments, I verify that stride(2) does not have scale influence on the output coordinates. In other words, STRIDE does not work in TrochSparse. For example, spnn.Conv3d(32, 64, 2, stride=2)
![image](https://user-images.githubusercontent.com/35062202/189078165-4eef56ba-6ebc-4edd-a4b7-8af5145a247d.png)
look
![image](https://user

[2022-09-08 23:31] Xiuyu-Li commented on #165
@ahmedius2 @zeyu-hello @haiduo The latest main branch contains our adaptive matrix multiplication grouping strategy now. You can take a look at https://github.com/mit-han-lab/torchsparse/blob/36ca82457a053207ecb31578badb887e8356a482/examples/example.py#L98-L108 for a basic example usage. More detailed documentations and an official package will be released soon.

[2022-09-09 22:45] zhijian-liu commented on #166
I'm closing this issue due to its inactivity. However, please feel free to reopen it if your problem persists.

[2022-09-09 22:45] #166 closed

[2022-09-09 22:47] zhijian-liu commented on #167
I would recommend installing CUDA at the system level to make the installation easier.

[2022-09-11 09:01] #167 closed

[2022-09-13 03:25] SerCharles opened #169 "Is this project compatible with FP16?"

[2022-09-14 00:08] zhijian-liu commented on #169
Yes, it is compatible.

[2022-09-14 00:08] #169 closed

[2022-09-16 22:52] zhijian-liu commented on #159
Sorry for the late reply. Could you double-check in your Python that you could import `torch.utils.cpp_extension`?

[2022-09-17 09:52] The-Real-Thisas commented on #159
Nope it gives me a `ModuleNotFoundError: No module named 'torch.utils.cpp_extension'` however importing `from torch import nn` works.

[2022-09-18 01:05] zhijian-liu commented on #159
Hmmm, this seems to be a PyTorch issue. Could you double-check the PyTorch version?

[2022-09-18 03:47] The-Real-Thisas commented on #159
[code]

[2022-09-18 15:53] zhijian-liu commented on #159
Could you maybe try downgrading PyTorch to 1.11.0?

[2022-09-18 16:27] The-Real-Thisas commented on #159
Now `import torch.utils.cpp_extension` works but trying to install torchsparse gives the same error.

[code]

[2022-09-18 16:30] The-Real-Thisas commented on #159
Trying to run,

[code]

with the conda package of `conda install -c conda-forge torchsparse` gives,

[code]

[2022-09-23 13:04] SerkanSimsekTUDelft opened #172 "[Installation] Undefined symbol error when trying to import nn from torchsparse"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Have you followed all the steps in the FAQ?

- [X] I have tried the steps in the FAQ.

### Current Behavior

Error at the following line:

from torchsparse import nn as spnn

### Error Line

ImportError: /home/x/.conda/envs/serk-torch/lib/python3.7/site-packages/torchsparse/backend.cpython-37m-x86_64-linux-gnu

[2022-09-26 04:25] kentang-mit commented on #168
Hi @haiduo,

In our implementation actually stride > 1 changes the **resolution** of the coordinates, instead of the **scale** of the coordinates. After n downsampling layers, all the coordinates will be a multiple of $2^n$. Note that this is equivalent to reducing the coordinate range by 2$\times$ at each downsampling layer.

Best,
Haotian

[2022-09-26 04:27] kentang-mit commented on #161
Thanks for the catch! I believe this is indeed a bug, and it is not caught previously because we always use batch=1 inference under the CPU mode. I will put up a PR soon on it.

[2022-09-26 04:29] kentang-mit commented on #162
I think you are right, this shared memory buffer is not used in the current implementation. In practice `kernel_offset` is a very small tensor, so it should be loaded into L1 cache automatically and it is unnecessary to specify this shared memory buffer.

[2022-09-26 04:29] #162 closed

[2022-09-26 04:56] haiduo commented on #168
Thank you for your reply!
I know mean what you said. Maybe I used an error word about "scale", but I want to say means what you said. That is stride > 1 changes the **resolution** of the coordinates, but I found is not correct about the output resolution of coordinates through experiments.
Specifically, I should use TorchSparse to replace the 3DConv layer of VoxelNet. After two times of downsampli

[2022-09-26 11:12] #172 closed

[2022-09-26 11:13] SerkanSimsekTUDelft commented on #172
Fixed it by reinstalling google sparse-hash locally and exporting the library to CPLUS_INCLUDE_PATH

[2022-09-26 22:19] #161 closed

[2022-10-08 00:14] zhijian-liu commented on #152
Hi @oliver-batchelor, we might not release the benchmark soon since it requires a complicated dataset setup.

[2022-10-08 00:14] #152 closed

[2022-10-08 00:29] zhijian-liu commented on #133
@HaFred, thanks for your interest! Unfortunately, we haven't been able to look into this issue yet.

[2022-10-08 00:45] zhijian-liu commented on #159
Could you please try `CXX=<path-to-g++> pip install -v --upgrade git+https://github.com/mit-han-lab/torchsparse.git@v1.4.0`?

[2022-10-08 04:10] The-Real-Thisas commented on #159
[code]

[2022-10-12 04:46] jliellen opened #174 "[Installation] <subprocess error>"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Have you followed all the steps in the FAQ?

- [X] I have tried the steps in the FAQ.

### Current Behavior

Hi there, I had very hard time installing torch-sparse==0.6.12. I've tried many solutions online but seem like they are not working for me. Below is my command which I did under conda env:

`$ pip insta

[2022-10-13 15:13] jkulhanek commented on #164
I have a very simple example to reproduce:
[code]

Note that the example works on cuda.

[2022-10-16 21:49] neverix opened #175 "Add torch to requirements"
Right now the installation implicitly requires torch. I ran into a problem because `requirements.txt` did not have torch listed 😅

[2022-10-17 11:41] three-nine opened #176 "g++ error"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Have you followed all the steps in the FAQ?

- [X] I have tried the steps in the FAQ.

### Current Behavior

when i execute "pip install git+https://github.com/mit-han-lab/torchsparse.git",there is a problem.And i tried "export CXX=g++".it seems not to work.

### Error Line

Collecting git+https://github.com/m

[2022-10-17 21:41] john-liu2039 opened #178 "Reproduce the runtime analysis"
Hi,

Great work!
I'm trying to reproduce Figure 4 in the runtime analysis (section 4).
Would you mind sharing which two NNs are used and the measurement method?
(Are the models implemented with cuDNN and benchmarked with nvprof etc?)

I really appreciate that!

[2022-10-21 09:59] carlosedubarreto commented on #12
I was able to install making some changes.

First of all, dont do that "ninja" fix. the one that you change "ninja -v" to "ninja --version". This will make your compiling to have new errors that should not be there (like the difficult to compile files that it already have access, I'm saying it because it happened to me 😅)

if you didnt change it, just go to the next step.

I noticed that it was co

[2022-10-21 10:01] carlosedubarreto commented on #19
Hello @weizmanl I was able to make it work following what @dfhe2004 said and doing some other stuff, I did a more detailed explanation on this issue
https://github.com/mit-han-lab/torchsparse/issues/12#issuecomment-1286733835

[2022-10-21 10:01] carlosedubarreto commented on #136
Hello @StarsTesla I was able to built and install.
I did some explanation on this issue
https://github.com/mit-han-lab/torchsparse/issues/12#issuecomment-1286733835

Hope it helps.

[2022-10-21 15:58] zhijian-liu commented on #175
Thanks for reporting this! We are actually working on improving the installation flow recently. Stay tuned for updates!

[2022-10-24 06:06] xuyongzhi commented on #92
This works for me in docker

[2022-11-03 02:54] xuyongzhi opened #182 "[Installation] < Snapdragon Neural Processing Engine>"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Have you followed all the steps in the FAQ?

- [X] I have tried the steps in the FAQ.

### Current Behavior

I am wondering if torchsparse can be supported by Snapdragon Neural Processing Engine

### Error Line

Unknown

### Environment

[code]

### Full Error Log

<details>
  <summary>Error Log</summary>

  [

[2022-11-08 12:21] 619862306 commented on #1
I want to reimplement SECOND with torchsparse , how can I do this?

[2022-11-12 00:32] zhangfuyang opened #183 "[BUG] Network output is not same when changing the batch size during eval mode"
### Is there an existing issue for this?

- [X] I have searched the existing issues

Hi, thank you for open source the code.

I have a problem that the network produces the different output when the batch size changes during the inference stage. A simple example to reproduce the issue.

Basically, I want to verify the similar rule as the regular network: `model([x1])` and `model([x1, x2])[0]` shou

[2022-11-12 11:38] skanti commented on #183
+1

(I've encountered the same bug)

[2022-11-18 16:23] zhijian-liu commented on #182
TorchSparse does not support SNPE for now.

[2022-11-18 16:23] #182 closed

[2022-11-22 11:06] denred0 commented on #12
Thanks man! You did my day!

[2022-11-24 13:46] LeopoldACC commented on #107
@zhijian-liu @CCInc
torchsparse is not available due to this problem when single-gpu learning with pytorch-lighting with no change of model.